<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                <label>手机号</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="searchform.mobile" >
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label>
                  <input type="checkbox" ng-model="usedate" 
                    ng-true-value="1" ng-false-value="0"
                  >
                  查询时间</label>&nbsp;&nbsp;

                <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                      &nbsp;&nbsp;到&nbsp;&nbsp;            
                <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.end.date" is-open="section.end.opened" ng-required="true" close-text="Close" readonly/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open(section.end)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </span>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-4 text-center">查询手机号</th>
        <th class="col-md-4 text-center">查询时间</th>
        <th class="col-md-4 text-center">查询结果</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.mobile}}</td>
        <td class="text-center">{{obj.date}}</td>
        <td class="text-center">{{msg[obj.status]}}</td>
      </tr>
    </tbody>
  </table>
  

</div>