<div class="modal-header">
    <h4 class="modal-title">退票数量确认</h4>
</div>
<div class="modal-body">

    <div class="container-fluid form-horizontal ">
        
      <div class="col-sm-12">

          <div class="form-group">
            <label class="col-xs-3 control-label">数量</label>
            <div class="col-xs-9">
              <input type="number" class="form-control" placeholder="请输入退票数量" 
              ng-model="num"
              >
            </div>
          </div>

      </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>
