<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                  <label>订单编号</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.code" >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  
  

</div>