


<div class="modal-header">
    <h4 class="modal-title">票信息({{order_unique_code}})</h4>
</div>
<div class="modal-body">

    <div class="container-fluid form-horizontal ">
        
      <div class="col-sm-12">

        <div class="panel panel-danger" ng-repeat="tkttype in objs track by $index" >
          <!-- Default panel contents -->
          <div class="panel-heading">{{tkttype.name}} 第 {{tkttype.sequence}} 个

            <button type="button" 
              class="btn btn-xs btn-info pull-right"
              ng-click="back(tkttype)"
            >
              退票
            </button>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-md-1 text-center">景区名称</th>
                <th class="col-md-3 text-center">票名称</th>
                <th class="col-md-1 text-center">票号</th>
                <th class="col-md-1 text-center">未使用</th>
                <th class="col-md-1 text-center">未退票</th>
                <th class="col-md-1 text-center">可用</th>
                <th class="col-md-4 text-center">时间</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="obj in tkttype.ticketarr">
                <td class="">{{obj.place_name}}</td>
                <td class="">{{obj.type_name}}</td>
                <td class="text-center">{{obj.code}}</td>
                <td class="text-center">
                  <span ng-show="{{obj.used == '0'}}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                  <span ng-show="{{obj.used == '1'}}" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                </td>
                <td class="text-center">
                  <span ng-show="{{obj.back == '0'}}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                  <span ng-show="{{obj.back == '1'}}" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                </td>
                <td class="text-center">
                  <span ng-show="{{obj.state == '1'}}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                  <span ng-show="{{obj.state == '0'}}" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                </td>
                <td class="text-center">
                  <span class="col-xs-4">操作时间：</span><span class="col-xs-8">{{obj.otime}}</span>
                  <!-- <br> -->

                  <span class="col-xs-4">生效时间：</span>
                  <div class="input-group col-xs-8">
                  <input  type="text" 
                          class="form-control" 
                          uib-datepicker-popup="yyyy-MM-dd"
                          ng-model="obj.take_effect_time"  
                          ng-change="authchange()"
                          on-open-focus="true"  
                          is-open="obj.opened" 
                          ng-required="true" 
                          close-text="Close" 
                          readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open(obj)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
<!-- 
                 <span class="col-xs-3">生效：</span><input type="text" class="col-xs-9 form-control" ng-value="obj.take_effect_time.substring(0,10)" ng-model="obj.take_effect_time">
                </td> -->
                <!-- <td class="text-center">
                
                </td> -->
                <td>
                <div>
                    <button type="button text-center" 
                        class="btn btn-primary"
                        ng-click="mosaic(obj.id,obj.take_effect_time,obj.otime)" 
                        ng-disabled="authority">
                        修改
                    </button>
                </div>
                  
                </td>

              </tr>
            </tbody>
          </table>
          
        </div>




        <div class="panel panel-primary" >
          <!-- Default panel contents -->
          <div class="panel-heading">退票历史
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-md-2 text-center">申请时间</th>
                <th class="col-md-2 text-center">确认时间</th>
                <th class="col-md-1 text-center">退款流水号</th>
                <th class="col-md-1 text-center">退款状态</th>
                <th class="col-md-1 text-center">退票状态</th>
                <th class="col-md-1 text-center">退票数量</th>
                <th class="col-md-1 text-center">退票金额</th>
                <th class="col-md-1 text-center">实际退款</th>
                <th class="col-md-1 text-center">退票机构</th>
                <th class="col-md-1 text-center">备注</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="back in backarr">
                <td class="text-center">{{back.create_time}}</td>
                <td class="text-center">{{back.update_time}}</td>
                <td class="text-center">{{back.seq_id}}</td>
                <td class="text-center">{{back.back_statename}}</td>
                <td class="text-center">{{back.ticket_statename}}</td>
                <td class="text-center">{{back.back_count}}</td>
                <td class="text-center">{{back.back_price * 0.01 | currency : '¥'}}</td>
                <td class="text-center">{{back.actual_back_price}}</td>
                <td class="text-center">{{back.ta_code}}</td>
                <td class="text-center">{{back.remark}}</td>

              </tr>
            </tbody>
          </table>
          
        </div>


        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>







  