<div class="container-fluid form-horizontal">

	<div class="col-xs-12 col-md-12 mt10">
        <div class="row mtq0">
            <div class="form-group">
                <form class="form-inline">
                    <label class="col-sm-1 col-xs-12 control-label">预约时间</label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="baseinfo.dateshow.periodstart.date" uib-datepicker-popup="yyyy-MM-dd" is-open="baseinfo.dateshow.periodstart.opened"
                            ng-required="true" close-text="Close" readonly/>
                            <span class="input-group-btn">
                                    <button type="button" 
                                        class="btn btn-default"
                                        ng-click="baseinfo.dateshow.open(baseinfo.dateshow.periodstart)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>

                </form>
		    </div>
            <!--<div class="form-group">
                <form class="form-inline">
                    <label class="col-sm-1 col-xs-12 control-label">有效期始</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="baseinfo.dateshow.periodend.date" uib-datepicker-popup="yyyy-MM-dd" is-open="baseinfo.dateshow.periodend.opened"
                            ng-required="true" close-text="Close" readonly/>
                            <span class="input-group-btn">
                                    <button type="button" 
                                        class="btn btn-default"
                                        ng-click="baseinfo.dateshow.open(baseinfo.dateshow.periodend)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>

                </form>
            </div>-->

            <div class="form-group">
			<label class="col-sm-1 col-xs-12 control-label">库存</label>
			<div class="col-sm-2 col-xs-12">
				<input type="text" class="form-control" placeholder="库存数量" ng-model="info.stock_num">
			</div>
            <div class="col-xs-1">
				<a ng-click="add()" class="btn btn-success btn-sm">添加</a>
			</div>
		</div>
    </div>
    <table class="table table-bordered mt10">
			<thead>
				<tr>
					<th class="col-md-4 text-center">预约时间</th>
					<!--<th class="col-md-3 text-center">结束时间</th>-->
					<th class="col-md-4 text-center">库存</th>
					<th class="col-md-4 text-center">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in time_list">
					<td class="text-center">{{obj.startTime}}</td>
					<td class="text-center form-inline"> 
                        <input type="number" class="form-control text-center" placeholder="库存" min='0'
							ng-model="obj.stock_num" value="0">
						<a ng-click="save(obj)" class="btn btn-warning btn-xs">保存</a>                        
                    </td>
                    
					<td class="text-center">
						<a ng-click="delete(obj.id)" class="btn btn-danger btn-xs">删除</a>
					</td>
				</tr>
			</tbody>
		</table>

        
		


</div>