<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                  
                  <input type="text" class="form-control" ng-model="info.name" placeholder="用户名称">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="info.mobile" placeholder="联系电话">
                  &nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="info.title" placeholder="产品标题">
                  &nbsp;&nbsp;
                  <label>预约场次</label>&nbsp;&nbsp;
                  <div class="input-group">
                  <input type="text" class="form-control" ng-keyup="myKeyup($event)" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" ng-change="change()" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
                  <div class="form-group pull-right">
                      <button type="button" class="btn btn-primary" ng-click="search()">搜索预约人</button>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                  </div>


            </div>
        </div>
    </div>
</div><!-- searchArea -->

<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-1 text-center">姓名</th>
        <th class="col-md-2 text-center">电话</th>
        <th class="col-md-2 text-center">预约时间</th>
        <th class="col-md-1 text-center">预约场次</th>
        <th class="col-md-2 text-center">产品名称</th>
        <th class="col-md-2 text-center">票种名称</th>
        <th class="col-md-2 text-center">预约产品</th>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.name}}</td>
        <td class="text-center">{{obj.mobile}}</td>
        <td class="text-center">{{obj.time}}</td>
        <td class="text-center">{{obj.startTime}}</td>        
        <td class="text-center">{{obj.sale_name}}</td>
        <td class="text-center">{{obj.ticket_name}}</td>
        <td class="text-center">{{obj.title}}</td>
      </tr>
    </tbody>
    </table>
</div>

    <div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="search()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
    </div> 
