<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-md-6">
              <p class="form-control-static">
                <input type="text" 
                class="form-control" 
                ng-model="seller_name"
                placeholder="请输入商户名称">
                <button type="button" 
                  class="btn btn-primary" 
                  ng-click="searchbyname()">搜索</button>
              
                
              </p>
            </div>
            <!-- <div class="col-xs-2"></div> -->
            <!-- <div class="col-xs-2"></div> -->
            <!-- <div class="col-xs-1"></div> -->
            <div class="col-md-2">
                <p class="form-control-static">
                    账户余额：{{balance_price | currency : '¥'}}
                </p>
                <!-- <label>分销商名称</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="searchform.name" >
                &nbsp;&nbsp;&nbsp;&nbsp; -->

               <!--  <label>分销商</label>&nbsp;&nbsp;
                <select class="form-control" ng-model="searchform.seller_code" 
                  ng-options="view.CODE as view.NAME for view in taarr"
                >
                  <option value=''> -- 全部 -- </option>
                </select>
                
                <button type="button" class="btn btn-default" ng-click="load()">立即搜索</button> -->
            </div>

            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-default pull-right" ng-click="back()">充值回平台</button>
                <button type="button" class="btn btn-info new" ng-click="create()"
                has-permission='createdeposit' 
                >创建预存</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-5 text-center">商户名称</th>
        <!-- <th class="col-md-1 text-center">总量</th> -->
        <th class="col-md-1 text-center">余额</th>
        <th class="col-md-1 text-center">信用额度</th>
        <th class="col-md-1 text-center">短信提示余额不足阀值</th>
        <th class="col-md-1 text-center">是否发送短信</th>
        <th class="col-md-1 text-center">手机号码</th>
       <!--  <th class="col-md-2 text-center">欠款时间</th>
        <th class="col-md-1 text-center">警戒线</th> -->
        <th class="col-md-2 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in aggregate">
        <td class="">{{obj.seller_name}}</td>
        <!-- <td class="text-center">{{obj.total_price | currency : '¥'}}</td> -->
        <td class="text-center">{{obj.balance_price | currency : '￥'}}</td>
        <td class="text-center">{{obj.loan_limit_price | currency : '￥'}}</td>
        <td class="text-center">{{obj.send_sms_price | currency : '￥' }}</td>
        <td class="text-center" ng-show="obj.send_sms_flag === '1' ">是</td>
        <td class="text-center" ng-show="obj.send_sms_flag === '0' ">否</td>
        <td class="text-center">{{obj.send_sms_mobile}}</td>
        <!-- <td class="text-center">{{obj.arrears_time}}</td>
        <td class="text-center">{{obj.picket_line | currency : '￥'}}</td> -->
        <td class="text-center">
          <a ng-click="recharge(obj)" class="btn btn-success btn-xs">充值</a>
          <!-- <a ng-click="trackinfo(obj)" class="btn btn-info btn-xs">明细</a> -->
          <a ng-click="update(obj)" class="btn btn-danger btn-xs">编辑</a>
        </td>
      </tr>
    </tbody>
  </table>


<!--   <div class="text-right">

    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="load()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>

  </div> -->
  

</div>