<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">

            	<div class="row">
				<label>团名称</label>&nbsp;&nbsp;
				<select class="form-control" ng-model="obj.binding_code" 
	              ng-options="group.group_id as group.group_name for group in grouparr"
	              ng-disabled="isable=='1'"
	            >
	            	<option value=""> -- 全部 -- </option>
	            </select>
				&nbsp;&nbsp;

				<label>统计类型</label>&nbsp;&nbsp;
				<select class="form-control" ng-model="obj.type_month" ng-disabled="isable=='1'">
					<option value="1"> 月份 </option>
					<option value="2"> 日期 </option>
					<option value="3"> 时间 </option>
				</select>
				&nbsp;&nbsp;

				<label>年份</label>&nbsp;&nbsp;
				<select class="form-control" ng-model="obj.type_year" ng-disabled="isable=='1'">
					<option value="2016"> 2016 </option>
					<option value="2017"> 2017 </option>
					<option value="2018"> 2018 </option>
				</select>
				&nbsp;&nbsp;

				<label>出游时间</label>&nbsp;&nbsp;
				<select class="form-control" ng-model="obj.type_playtime_start" ng-disabled="isable=='1'">
					<option value="1"> 一月 </option>
					<option value="2"> 二月 </option>
					<option value="3"> 三月 </option>
					<option value="4"> 四月 </option>
					<option value="5"> 五月 </option>
					<option value="6"> 六月 </option>
					<option value="7"> 七月 </option>
					<option value="8"> 八月 </option>
					<option value="9"> 九月 </option>
					<option value="10"> 十月 </option>
					<option value="11"> 十一月 </option>
					<option value="12"> 十二月 </option>
				</select>
				&nbsp;&nbsp;至&nbsp;&nbsp;
				<select class="form-control" ng-model="obj.type_playtime_end" ng-disabled="isable=='1'">
					<option value="1"> 一月 </option>
					<option value="2"> 二月 </option>
					<option value="3"> 三月 </option>
					<option value="4"> 四月 </option>
					<option value="5"> 五月 </option>
					<option value="6"> 六月 </option>
					<option value="7"> 七月 </option>
					<option value="8"> 八月 </option>
					<option value="9"> 九月 </option>
					<option value="10"> 十月 </option>
					<option value="11"> 十一月 </option>
					<option value="12"> 十二月 </option>
				</select>

				&nbsp;&nbsp;
				
				

				<button type="button" class="btn btn-default search pull-right" 
					ng-click="load()" ng-disabled="isable=='1'">立即搜索</button>

				</div>

				<div class="row mt10">
					<label>旅行社</label>&nbsp;&nbsp;
					<select class="form-control" ng-model="obj.binding_company_code" 
		              ng-options="type.binding_company_code as type.name for type in companyarr"
		              ng-change="changecompany()"
		            >
		            	<option value=""> -- 全部 -- </option>
		            </select>
					&nbsp;&nbsp;

					<button type="button" class="btn btn-default search " ng-click="add()">追加</button>
				</div>

			</div>

        </div>
    </div>
</div>
</div><!-- searchArea -->

<div class="col-sm-12">

	<canvas id="base" class="chart-bar"
	  chart-data="data" chart-labels="labels" chart-colors="colors"
	  chart-dataset-override="datasetOverride" height="80">
	</canvas> 


</div>

<div class="col-sm-12">

	


	<div class="col-sm-4" ng-repeat="tobj in totalobjs">
		<div class="panel panel-default mt10">

		  	<table class="table table-bordered">
		      <div class="panel-heading text-center">
		      	{{tobj.name}}
		      	<a ng-click="del(tobj.lxscode)" class="btn pull-right" 
		      	style="color: red; padding:0px;" ng-show="tobj.lxscode != 0">
			        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			    </a>
		      </div>
		      <tbody>
		        <tr ng-repeat="totalobj in tobj.list">
		          <td class="text-center" ng-show="tobj.type_month=='1'">{{totalobj.month}}月</td>
		          <td class="text-center" ng-show="tobj.type_month=='2'">{{totalobj.month}}号</td>
		          <td class="text-center" ng-show="tobj.type_month=='3'">{{totalobj.month}}时</td>
		          <td class="text-center">{{totalobj.sum}}人次</td>
		        </tr>
		      </tbody>
		   	</table>
		</div>
	</div>

</div>