<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">

				<label>景区</label>&nbsp;&nbsp;
				<select class="form-control" ng-model="obj.binding_company_code" 
	              ng-options="type.binding_company_code as type.name for type in companyarr"
	              ng-change="changecompany()"
	            >
	            	<option value=""> -- 全部 -- </option>
	            </select>
				&nbsp;&nbsp;

				<button type="button" class="btn btn-default search " ng-click="add()">追加</button>

				&nbsp;&nbsp;
				<select class="form-control" ng-model="obj.evaluate_type" ng-change="change()">
                    <option label="满意度评价" value="1"></option>
                    <option label="订单评价" value="2"></option>
                    <option label="全部评价" value=""></option>
                  </select>
                  

			</div>

        </div>
    </div>
</div>
</div><!-- searchArea -->


<div class="col-sm-12">

	<div class="col-sm-8" >
		<canvas id="radar" class="chart chart-radar"
		  chart-data="data" chart-options="options" chart-labels="labels">
		</canvas> 
	</div>

	<div class="col-sm-4" ng-repeat="tobj in totalobjs">

		<div class="panel panel-default">
			<div class="panel-heading text-center">
		      	{{tobj.jqname}}
		      	<a ng-click="del(tobj.jqcode)" class="btn pull-right" 
		      	style="color: red; padding:0px;" ng-show="tobj.jqcode != 0">
			        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			    </a>
		    </div>
		  	<table class="table table-bordered">
		      <thead>
		        <tr>
		          <th class="col-sm-8 text-center">问题</th>
		          <th class="col-sm-4 text-center">好评百分比</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="totalobj in tobj.list">
		          <td class="text-center">{{totalobj.question}}</td>
		          <td class="text-center">{{totalobj.hpl}}%</td>
		        </tr>
		      </tbody>
		   	</table>
		</div>

	</div>

</div>


