


<div class="modal-header">
    <h4 class="modal-title">作答详情</h4>
</div>
<div class="modal-body">

    <div class="container-fluid form-horizontal ">
        
      <div class="col-sm-12">

        <div class="panel panel-danger" ng-repeat="group in objs" >
          <!-- Default panel contents -->
          <div class="panel-heading">{{group.groupname}}
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center col-md-5">问题</th>
                <th class="text-center col-md-2">答案</th>
                <th class="text-center col-md-3">不满意原因</th>
                <th class="text-center col-md-2">作答时间</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="obj in group.answerarr">
                <td class="text-center">{{obj.question}}</td>
                <td class="text-center">{{obj.name}}</td>
                <td class="text-center">{{obj.answer_instruction}}</td>
                <td class="text-center">{{obj.answer_time}}</td>
            </tbody>
          </table>
          
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>







  