<div class="panel panel-default form-horizontal">
	<div class="panel-heading">
		问题详情
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="col-sm-12">
			  <table class="table table-bordered">
			    <thead>
			      <tr>
			        <th class="col-md-7 text-center">问题</th>
			        <th class="col-md-5 text-center">答案</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="obj in objs">
			        <td class="text-center">{{obj.question}}</td>
			        <td class="text-center">{{obj.name}}</td>
			      </tr>
			    </tbody>
			  </table>
			</div>
		</div>
	</div>
</div>