<div class="col-sm-12">


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-5 text-center">团名</th>
        <th class="col-md-5 text-center">团人数</th>
        <th class="col-md-2 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.binding_code}}</td>
        <td class="text-center">{{obj.openid_count}}</td>
        <td class="text-center">
          <a ng-click="edit(obj.binding_code)" class="btn btn-info btn-xs">游客列表</a>
        </td>
        </th>
      </tr>
    </tbody>
  </table>

</div>