<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">

                <div class="row ">

                  <input type="text" class="form-control" ng-model="searchform.code" placeholder="设备编号">
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <input type="text" class="form-control" ng-model="searchform.name" placeholder="设备名称" 
                  >
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <input type="text" class="form-control" ng-model="searchform.binding_company_name"  placeholder="设备所属机构">
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <input type="text" class="form-control" ng-model="searchform.group_name" placeholder="绑定团名" >
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <label>设备绑定类型</label>&nbsp;&nbsp;
                  <select class="form-control" ng-model="searchform.binding_type">
                    <option value="1"> 旅行社评价 </option>
                    <option value="2"> 景区评价 </option>
                    <option value=""> -- 全部 -- </option>
                  </select>
                  &nbsp;&nbsp;

                  

                </div>

 
                <div class="row mt10">
                  
                  <label>
	                <input type="checkbox" ng-model="usedate" 
                    ng-true-value="1" ng-false-value="0"
                  	> 绑定时间</label>&nbsp;&nbsp;
	              <div class="input-group">
                	<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
	              </div>
                  

                  <button type="button" class="btn btn-default search pull-right" 
                  	ng-click="create()" ng-show="company_code == 'L0002'">添加设备</button>

                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <button type="button" class="btn btn-default search pull-right" ng-click="search()">立即搜索</button>

                </div>


                
                
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2 text-center">设备编号</th>
        <th class="col-md-2 text-center">设备名称</th>
        <th class="col-md-1 text-center">设备所属机构</th>
        <th class="col-md-1 text-center">设备绑定类型</th>
        <th class="col-md-2 text-center">绑定团名</th>
        <th class="col-md-1 text-center">绑定时间</th>
        <th class="col-md-2 text-center">备注</th>
        <th class="col-md-1 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.code}}</td>
        <td class="text-center">{{obj.name}}</td>
        <td class="text-center">{{obj.binding_company_name}}</td>
        <td class="text-center">{{obj.binding_type_name}}</td>
        <td class="text-center">{{obj.group_name}}</td>
        <td class="text-center">{{obj.binding_time}}</td>
        <td class="text-center">{{obj.remarks}}</td>
        <td class="text-center">
          <a ng-click="del(obj.id)" class="btn btn-danger btn-xs" ng-show="company_code == 'L0002'">删除</a>
          <a ng-click="edit(obj.id)" class="btn btn-info btn-xs">编辑</a>
        </td>
        </th>
      </tr>
    </tbody>
  </table>


<!--   <div class="text-right">

    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="load()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>

  </div> -->
  

</div>