<div class="col-xs-12">

	<div class="col-xs-6 col-xs-offset-3">
		
		<div class="panel panel-default ">
		  <!-- Default panel contents -->
		  <div class="panel-heading text-center">

		  		<h4>居游秋冬套票销售</h4>
		  </div>
		  <div class="panel-body">
			  <div class="col-xs-10">
			   	<input type="text" ng-model="papersno" class="form-control" placeholder="请输入身份证号码">
			  </div>
			  <div class="col-xs-2">
			  	<button type="submit" class="btn btn-default" ng-click="searchinfo()">查询</button>
			  </div>
		  </div>

		  <table class="table">
	        <tbody>
	          <tr>
	            <td class="text-right" style="line-height: 36px;">电话</td>
	            <td>
	            	<input type="text" ng-model="user.mobile" class="form-control" placeholder="手机号">
	            </td>
	          </tr>
	          <tr>
	            <td class="text-right">姓名</td>
	            <td>{{user.name}}</td>
	          </tr>
	          <tr>
	            <td class="text-right">实名制</td>
	            <td>{{user.whattxt}}</td>
	          </tr>
	        </tbody>
	      </table>

		   <div class="panel-body">
		    <button type="button" class="btn btn-warning btn-block"
			ng-show="user.juyou === '0' || (user.juyou === '1' && user.what === '0')" 
			ng-click="buynotrealname()"
			ng-disabled="!notrelbtnstate"
		    >发送激活码（50元）</button>
			<button type="button" class="btn btn-primary btn-block"
			ng-show="user.juyou === '1' && user.what === '1'" 
			ng-click="buyrealname()"
			ng-disabled="!relbtnstate"
			>发送套票（50元）</button>
			<button type="button" class="btn btn-danger btn-block"
			ng-click="buy90()"
			ng-disabled="!btnstate"
			>直接购票（90元）</button>
		   </div>
		</div>

	</div>






</div>







<!-- <div class="col-md-12">
	<div class="col-md-12">
		<h1>
			居游秋冬套票销售
		</h1>
		<h3>
			<input type="text" ng-model="papersno" style="border: 1px solid #ccc;" placeholder="请输入身份证号码">
		</h3>
		<button class="btn btn-primary btn-xs" ng-click="searchinfo()">查找</button>
		<br>
		<br>
		<input type="text" ng-model="user.mobile" style="border: 1px solid #ccc;" placeholder="手机号">
		<br>
		<br>
		<ul>
			<li>
				<div>游客姓名：{{user.name}}</div>
			</li>
			<li>
				<div>是否实名制：{{user.whattxt}}</div>
			</li>
		</ul>
		<br>
		<button ng-show="user.what == 0" ng-click="buynotrealname()">
			发送激活码
		</button>
		<br>
		<button ng-show="user.what == 1" ng-click="buyrealname()">
			发送套票50元
		</button>
		<br>
		<button ng-click="buy90()">
			直接购票90元
		</button>
	</div>
</div> -->