	<div class="panel panel-default form-horizontal">
		<div class="panel-heading">
			基本信息

		</div>
		<div class="panel-body">
			<div class="container-fluid">


	<div class="form-group">
		<label class="col-xs-2 control-label">计划人数</label>
		<div class="col-xs-6">
			<input type="number" class="form-control" placeholder="请输入计划人数"
			ng-model="groupobj.plan_count"
			>
		</div>
	</div>

	<div ng-show="groupobjstate === 1">
		<div class="form-group">
		    <label class="col-xs-2 control-label">出游时间</label>
		    <div class="col-xs-10">

			    <p class="input-group col-xs-3 pull-left">
		          <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>

		    </div>
		  </div>

		<div class="form-group">
			<label class="col-xs-2 control-label">预定团票</label>
			<div class="col-xs-5">
				<select class="form-control" ng-model="groupobj.sale_code" 
	              ng-options="sale.code as sale.name for sale in salearr"
	            >
	            </select>
			</div>
			<div class="col-xs-1" style="margin-left:-5px;">
				<a ng-click="detail()" class="btn btn-info btn-sm">团票简介</a>
			</div>
		</div>
	</div>

	<div ng-show="groupobjstate === 0">
		<div class="form-group">
		    <label class="col-xs-2 control-label">出游时间</label>
		    <div class="col-xs-10">
				<p class="form-control-static">{{groupobj.arrival_date}}</p>
			</div>
		  </div>

		<div class="form-group">
			<label class="col-xs-2 control-label">预定团票</label>
		    <div class="col-xs-10">
				<p class="form-control-static">{{groupobj.order_name}}</p>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-2 control-label">导游姓名</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" placeholder="请输入导游姓名"
			ng-model="groupobj.guide_name"
			>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-2 control-label">导游电话</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" placeholder="请输入导游电话"
			ng-model="groupobj.guide_mobile"
			>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-2 control-label">车牌号</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" placeholder="请输入车牌号"
			ng-model="groupobj.vehicle_number"
			>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-2 control-label">备注</label>
		<div class="col-xs-6">
			<textarea class="form-control" rows="3"
			ng-model="groupobj.remark"
			></textarea>
		</div>
	</div>


		</div>

	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="gogo()">提交</button>
	    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
	</div>
</div>


