<div class="panel panel-default form-horizontal">
	<div class="panel-heading">
		预订信息
	</div>
	<div class="panel-body">
		<div class="container-fluid">

			<div class="col-xs-4">
			    <div class="input-group">

			      <input type="number" class="form-control" placeholder="请输入添加人数"
			      ng-model="num"
			      >
			      <span class="input-group-btn">
			      	<button class="btn btn-default" type="button"
			      	ng-click="add(num)"
			      	>添加</button>
			      </span>
			    </div>
			</div>

			<div class="col-xs-4">
			    <div class="form-group">
				    <label class="col-sm-3 control-label text-right">总价</label>
				    <div class="col-sm-9">
				      <p class="form-control-static">{{totalprice * 0.01 | currency : '￥'}}</p>
				    </div>
				  </div>
			</div>

			<table class="table table-bordered">
		      <thead>
		        <tr>
		          <th class="text-center col-xs-2">电话</th>
		          <th class="text-center col-xs-1">姓名</th>
		          <th class="text-center col-xs-3">身份证</th>
		          <th class="text-center col-xs-2">票种</th>
		          <th class="text-center col-xs-1">价格</th>
		          <th class="text-center col-xs-1">用户补贴余额</th>
		          <th class="text-center col-xs-1">本次使用</th>
		          <th class="text-center col-xs-1">操作</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="obj in objs">
		          <td>
		          	<input type="text" class="form-control" placeholder="请输入电话"
					ng-model="obj.mobile" ng-blur="blur($index)" ng-change="changemobile($index)"
					>
				  </td>
		          <td>
		          	<input type="text" class="form-control" placeholder="姓名"
					ng-model="obj.name" ng-disabled="obj.disabled"
					>
				  </td>
				  <td>
		          	<input type="text" class="form-control" placeholder="请输入身份证"
					ng-model="obj.cardno" ng-disabled="obj.disabled"
					>
				  </td>
				  <td>
		          	<select class="form-control" ng-model="obj.goods_code" 
		              ng-options="good.goods_code as good.goods_name for good in goodarr"
		              ng-change="change(obj)"
		            >
		            </select>
				  </td>
				  <td class="text-center">
		          	<p style="line-height: 32px;">
		          		{{obj.pay_price * 0.01 | currency : '￥'}}
		          	</p>
				  </td>
				  <td class="text-center">
		          	<p style="line-height: 32px;">
		          		{{obj.subsidy * 0.01 | currency : '￥'}}
		          	</p>
				  </td>
				  <td class="text-center">
		          	<p style="line-height: 32px;">
		          		{{obj.usesubsidy * 0.01 | currency : '￥'}}
		          	</p>
				  </td>
				  <td class="text-center">
		          	<a ng-click="del($index)" class="btn" style="color: red; padding:0px; padding-top: 5px;">
				        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				    </a>
				  </td>
		        </tr>
		        
		      </tbody>
		    </table>


		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="go()">提交</button>
	    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
	</div>
</div>


