<div class="col-sm-12">

	<div class="panel panel-default">
	    <div class="panel-body">
	        <div class="form-group form-inline">
	            <div class="col-sm-10">
	                <label>
	                <input type="checkbox" ng-model="usedate" 
                    ng-true-value="1" ng-false-value="0"
                  	> 出游时间</label>&nbsp;&nbsp;
	                <div class="input-group">
	                	<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
	                    <span class="input-group-btn">
	                      <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
	                    </span>
	                </div>
	                &nbsp;&nbsp;&nbsp;&nbsp;
	                <input type="text" class="form-control" ng-model="searchform.guide_name" placeholder="导游姓名">
	                &nbsp;&nbsp;&nbsp;&nbsp;
	                <input type="text" class="form-control" ng-model="searchform.guide_mobile" placeholder="导游电话">
	                &nbsp;&nbsp;&nbsp;&nbsp;
	                <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
	            </div>
	            <div class="col-sm-2 text-right">
	                <button type="button" class="btn btn-info new" ng-click="create()">创建团</button>
	            </div>
	        </div>
	    </div>
	</div> <!--searchArea -->

	  <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th class="col-md-2 text-center">出游信息</th>
	        <th class="col-md-2 text-center">预定团票</th>
	        <th class="col-md-2 text-center">导游信息</th>
	        <th class="col-md-2 text-center">备注</th>
	        <th class="col-md-1 text-center">最后操作时间</th>
	        <th class="col-md-1 text-center">最后操作人</th>
	        <th class="col-md-2 text-center">操作</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="obj in objs">
	        <td class="text-center">
	        	计划人数：[{{obj.plan_count}}人]<br>
	        	报名人数：[{{obj.book_count}}人]<br>
	        	实际人数：[{{obj.actual_count}}人]<br>
	        	到达时间：[{{obj.arrival_date}}]
	        </td>
	        <td class="">{{obj.order_name}}</td>
	        <td class="text-center">
	        	[{{obj.guide_name}}]<br>
	        	[{{obj.guide_mobile}}]<br>
	        	[{{obj.vehicle_number}}]
	        </td>
	        <td class="text-center">{{obj.remark}}</td>
	        <td class="text-center">{{obj.update_time}}</td>
	        <td class="text-center">{{obj.update_by}}</td>
			<td class="text-center">
				<div ng-show="obj.state=='0' && obj.xx=='0'">
					<a ng-click="signup(obj.code)" class="btn btn-warning btn-sm">报名</a>
					<a ng-click="info(obj.code)" class="btn btn-primary btn-sm">报名详情</a>
					<a ng-click="edit(obj.code)" class="btn btn-success btn-sm">编辑</a>
					<a ng-click="detail(obj.code)" class="btn btn-info btn-sm">修改纪录</a>
			        <!-- <a ng-click="del(obj.code)" class="btn btn-danger btn-sm">删除</a> -->
		        </div>
	        </td>
	      </tr>
	    </tbody>
	  </table>

	  <div class="text-right">

	    <uib-pagination 
	      total-items="bigTotalItems" 
	      ng-model="bigCurrentPage" 
	      max-size="maxSize" 
	      class="pagination-sm" 
	      boundary-links="true" 
	      ng-change="load()"
	      items-per-page="itemsPerPage"
	      previous-text="上一页"
	      next-text="下一页"
	      first-text="首页"
	      last-text="末页"
	      rotate="false">
	    </uib-pagination>

	  </div>
  
</div>
