<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                <label>卡号</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="searchform.card_num" placeholder="请输入卡号">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">卡号</th>
        <th class="text-center">卡密</th>
        <th class="text-center">卡内号</th>
        <th class="text-center">使用状态</th>
        <th class="text-center">配置卡池</th>
        <th class="text-center">配置卡产品</th>
        <th class="text-center">配置票销售品</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.card_num}}</td>
        <td class="text-center">{{obj.card_password}}</td>
        <td class="text-center">{{obj.phy_card_inside}}</td>
        <td class="text-center">{{obj.card_statusname}}</td>
        <td class="text-center">
        	{{obj.pool_name}}<br>
        	{{obj.pool_code}}
        </td>
        <td class="text-center">
        	{{obj.product_name}}<br>
        	{{obj.product_code}}
        </td>
        <td class="text-center"><a ng-click="ticketinfo(obj.sale_code)" style="cursor:pointer">{{obj.sale_code}}</a></td>
        <td class="text-center">
        	<a ng-click="edit(obj.card_num)" class="btn btn-success btn-xs">修改卡密</a>
        </td>
      </tr>
    </tbody>
  </table>
  

</div>