
<div class="modal-header">
    <h4 class="modal-title">修改卡密</h4>
</div>
<div class="modal-body">

<div class="container-fluid">
    
    <div class="form-group" >
   	    <label class="col-xs-1 control-label"></label>
        <label class="col-xs-2 control-label">新卡密</label>
        <div class="col-xs-6" >
            <input class="form-control" ng-model="obj.cardpass">
        </div>
    </div>
    
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="gogo()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>
