<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                <label>手机号</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="searchform.mobile" placeholder="请输入手机号">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default search" ng-click="search()">立即搜索</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
      	<th class="col-md-1 text-center">昵称</th>
        <th class="col-md-1 text-center">头像</th>
        <th class="col-md-1 text-center">卡号</th>
        <th class="col-md-1 text-center">产品编号</th>
        <th class="col-md-1 text-center">订单编号</th>
        <th class="col-md-1 text-center">所属区域</th>
      </tr>
    </thead>
    <tbody ng-show="obj">
      <tr>
        <td class="text-center">{{obj.nickname}}</td>
        <td class="text-center">
            <a ng-click="seepicture(obj.headimgurl)" ng-show="obj.headimgurl" class="btn btn-success btn-xs">查看图片</a>                        
        </td>
        <td class="text-center">{{obj.cardno}}</td>
        <td class="text-center">{{obj.product_code}}</td>
        <td class="text-center">{{obj.code}}</td>
        <td class="text-center">{{obj.sys_area}}</td>
      </tr>
    </tbody>
  </table>
  

</div>