<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                <label>订单编号</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="searchform.order_code" placeholder="请输入订单编号">
                &nbsp;&nbsp;&nbsp;&nbsp;
                
                <label>订单来源</label>&nbsp;&nbsp;
                <select class="form-control" ng-model="searchform.from_app_id" 
                ng-change="change()">
                  <!--ng-options="payment_type.value as payment_type.label for payment_type in payment_typearr"-->
                  <option value="juyou">居游</option>
                  <option value="shangke">商客</option>
                  <option value="">  -- 不限 --  </option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label>支付类型</label>&nbsp;&nbsp;
                <select class="form-control" ng-model="searchform.payment_type" 
                  ng-options="payment_type.value as payment_type.label for payment_type in payment_typearr"
                ng-change="change()">
                  <option value="">  -- 不限 --  </option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label>退款类型</label>&nbsp;&nbsp;
                <select class="form-control" ng-model="searchform.back_state" 
                  ng-options="back_state.value as back_state.label for back_state in back_statearr"
                ng-change="change()">
                  <option value="">  -- 不限 --  </option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label>退票状态</label>&nbsp;&nbsp;
                <select class="form-control" ng-model="searchform.ticket_state" 
                  ng-options="ticket_state.value as ticket_state.label for ticket_state in ticket_statearr"
                ng-change="change()">
                  <option value="">  -- 不限 --  </option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center col-md-1">订单编号</th>
        <th class="text-center col-md-1">订单序号</th>
        <th class="text-center col-md-1">支付金额</th>
        <th class="text-center col-md-1">支付类型</th>
        <th class="text-center col-md-1">创建时间</th>
        <th class="text-center col-md-1">所属机构</th>
        <th class="text-center col-md-1">订单来源</th>
        <th class="text-center col-md-1">退票状态</th>
        <th class="text-center col-md-1">退款状态</th>
        <th class="text-center col-md-1">实际退款金额</th>
        <th class="text-center col-md-1">退款时间</th>
        <th class="text-center col-md-1">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.order_code}}</td>
        <td class="text-center">{{obj.sequence}}</td>
        <td class="text-center">{{obj.back_price/100 | currency : '￥'}}</td>
        <td class="text-center" ng-show="obj.payment_type=='0'">默认</td>
        <td class="text-center" ng-show="obj.payment_type=='1'">支付宝支付</td>
        <td class="text-center" ng-show="obj.payment_type=='2'">微信支付</td>
        <td class="text-center" ng-show="obj.payment_type=='4'">预存支付</td>
        <td class="text-center" ng-show="obj.payment_type==undefined"></td>
        <td class="text-center">{{obj.create_time}}</td>
        <td class="text-center">{{obj.ta_code}}</td>
        <td class="text-center" >{{obj.from_app_id}}</td>
        <td class="text-center">{{obj.ticket_statename}}</td>
        <td class="text-center">{{obj.back_statename}}</td>
        <td class="text-center">{{obj.actual_back_price/100 | currency : '￥'}}</td>
        <td class="text-center">{{obj.update_time}}</td>
        <td class="text-center">
        	<a ng-show="obj.back_state=='0' && obj.ticket_state == 1" ng-click="back(obj)" class="btn btn-success btn-xs">退款</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-right">

    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="load()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>

  </div>
  

</div>