<div class="modal-header">
    <h4 class="modal-title">门票信息</h4>
</div>
<div class="modal-body">

    <div class="">
        <div class="checkbox" ng-repeat="obj in objs">
            <div class="col-xs-2 text-right">
				{{obj.name}}
			</div>
            <span class="form-inline" ng-repeat="item in obj.arr">
				&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                    <input type="checkbox" value="{{item.name.CODE}}"
                    ng-checked="item.name.iselected == 1"
                    ng-click="selection($event,item.name)">
				{{item.name.type_attr_name}}
                </label>
            </span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>