<div class="col-sm-12">


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center col-md-2">订单编号</th>
        <th class="text-center col-md-1">订单金额</th>
        <th class="text-center col-md-1">订单票数</th>
        <th class="text-center col-md-1">退款票数</th>
        <th class="text-center col-md-1">退款流水号</th>
        <!--<th class="text-center col-md-1">退款原因</th>
        <th class="text-center col-md-1">退款说明</th>-->
        <th class="text-center col-md-1">退款手续费</th>
        <th class="text-center col-md-1">申请时间</th>
        <th class="text-center col-md-1">审核状态</th>
        <th class="text-center col-md-1">审核时间</th>
        <th class="text-center col-md-1">通知去哪</th>
        <th class="text-center col-md-1">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.partnerorderid}}</td>
        <td class="text-center">{{obj.orderprice * 0.01 | currency : '￥'}}</td>
        <td class="text-center">{{obj.orderquantity}}</td>
        <td class="text-center">{{obj.refundquantity}}</td>
        <td class="text-center">{{obj.refundseq}}</td>
        <!--<td class="text-center">{{obj.refundreason}}</td>
        <td class="text-center">{{obj.refundexplain}}</td>-->
        <td class="text-center">{{obj.refundcharge * 0.01 | currency : '￥'}}</td>
        <td class="text-center">{{obj.create_time}}</td>
        <td class="text-center">{{obj.statename}}</td>
        <td class="text-center">{{obj.update_time}}</td>
        <td class="text-center">{{obj.noticedname}}</td>
        <td class="text-center">
          <a ng-click="info(obj)" class="btn btn-info btn-xs">详情</a>
          <a ng-click="examine(obj)" ng-show="obj.state=='1'" class="btn btn-success btn-xs">审核</a>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="text-right">

    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="load()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>

  </div>
  

</div>