<div class="modal-header">
    <h4 class="modal-title">设置分销价</h4>
</div>


<div class="modal-body">
	<div class="container-fluid form-horizontal">
	
	<!--<div class="form-group" >
        <label class="col-xs-1 control-label"></label>
		<label class="col-xs-3 control-label">商客产品编号</label>
        <div class="col-xs-6" >
            <p class="form-control-static">{{obj.sale_code}}</p>
        </div>
    </div>-->

	<div class="form-group">
		<label class="col-xs-1 control-label"></label>
		<label class="col-xs-3 control-label">分销成本价</label>
		<div class="col-xs-6">
			<input type="text" class="form-control"
			ng-model="obj.cost_price"
			>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="gogo()">提交</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>