<div class="modal-body">

    <div class="container-fluid form-horizontal ">
        <div class="col-xs-12">

            <div class="form-group">
                <label class="col-xs-2 control-label">账号</label>
                <div class="col-md-4">
      <input type="text" class="form-control" id="inputpoolname" placeholder=""
      ng-model="obj.off_reason"
      >
    </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>