<div class="container-fluid form-horizontal">

<div class="col-xs-10 mt10" >
	<div class="form-group">
		<label class="col-xs-2 control-label">开始时间</label>
		<div class="col-xs-4">
			<div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" 
              ng-model="flashsale.start.date" is-open="flashsale.start.opened" 
              ng-required="true" close-text="Close" readonly/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" 
                    ng-click="flashsale.open(flashsale.start)">
                    <i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
		</div>

		<div class="col-xs-2">
			<select class="form-control" 
			ng-model="flashsale.start.h" 
            >
            	<option value='00'>00时</option>
            	<option value='01'>01时</option>
            	<option value='02'>02时</option>
            	<option value='03'>03时</option>
            	<option value='04'>04时</option>
            	<option value='05'>05时</option>
            	<option value='06'>06时</option>
            	<option value='07'>07时</option>
            	<option value='08'>08时</option>
            	<option value='09'>09时</option>
            	<option value='10'>10时</option>
            	<option value='11'>11时</option>
            	<option value='12'>12时</option>
            	<option value='13'>13时</option>
            	<option value='14'>14时</option>
            	<option value='15'>15时</option>
            	<option value='16'>16时</option>
            	<option value='17'>17时</option>
            	<option value='18'>18时</option>
            	<option value='19'>19时</option>
            	<option value='20'>20时</option>
            	<option value='21'>21时</option>
            	<option value='22'>22时</option>
            	<option value='23'>23时</option>
            </select>
		</div>

		<div class="col-xs-2">
			<select class="form-control" 
			ng-model="flashsale.start.m" 
            >
            	<option value='00'>00分</option>
            	<option value='05'>05分</option>
            	<option value='10'>10分</option>
            	<option value='15'>15分</option>
            	<option value='20'>20分</option>
            	<option value='25'>25分</option>
            	<option value='30'>30分</option>
            	<option value='35'>35分</option>
            	<option value='40'>40分</option>
            	<option value='45'>45分</option>
            	<option value='50'>50分</option>
            	<option value='55'>55分</option>
            	<option value='59'>59分</option>
            </select>
		</div>

	</div>
</div>

<div class="col-xs-10" >
	<div class="form-group">
		<label class="col-xs-2 control-label">结束时间</label>
		<div class="col-xs-4">
			<div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" 
              ng-model="flashsale.end.date" is-open="flashsale.end.opened" 
              ng-required="true" close-text="Close" readonly/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" 
                    ng-click="flashsale.open(flashsale.end)">
                    <i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
             </div>
		</div>

		<div class="col-xs-2">
			<select class="form-control" 
			ng-model="flashsale.end.h" 
            >
            	<option value='00'>00时</option>
            	<option value='01'>01时</option>
            	<option value='02'>02时</option>
            	<option value='03'>03时</option>
            	<option value='04'>04时</option>
            	<option value='05'>05时</option>
            	<option value='06'>06时</option>
            	<option value='07'>07时</option>
            	<option value='08'>08时</option>
            	<option value='09'>09时</option>
            	<option value='10'>10时</option>
            	<option value='11'>11时</option>
            	<option value='12'>12时</option>
            	<option value='13'>13时</option>
            	<option value='14'>14时</option>
            	<option value='15'>15时</option>
            	<option value='16'>16时</option>
            	<option value='17'>17时</option>
            	<option value='18'>18时</option>
            	<option value='19'>19时</option>
            	<option value='20'>20时</option>
            	<option value='21'>21时</option>
            	<option value='22'>22时</option>
            	<option value='23'>23时</option>
            </select>
		</div>

		<div class="col-xs-2">
			<select class="form-control" 
			ng-model="flashsale.end.m" 
            >
            	<option value='00'>00分</option>
            	<option value='05'>05分</option>
            	<option value='10'>10分</option>
            	<option value='15'>15分</option>
            	<option value='20'>20分</option>
            	<option value='25'>25分</option>
            	<option value='30'>30分</option>
            	<option value='35'>35分</option>
            	<option value='40'>40分</option>
            	<option value='45'>45分</option>
            	<option value='50'>50分</option>
            	<option value='55'>55分</option>
            	<option value='59'>59分</option>
            </select>
		</div>
	</div>
</div>

<div class="col-xs-10" >
	<div class="form-group">
		<label class="col-sm-2 col-xs-12 control-label"></label>
		<div class="col-sm-10 col-xs-12">
			<button type="button" class="btn btn-primary btn-lg btn-block"
			ng-click="save()"
			>保存</button>
		</div>
	</div>
</div>


</div>