<div class="col-xs-12" >

	<table class="table table-bordered">
	    <thead>
	      <tr>
	        <th class="col-md-6 text-center">销售品类型</th>
	        <th class="col-md-2 text-center">积分</th>
	        <!--<th class="col-md-2 text-center" ng-show="funobj.hasOwnProperty('integral')">操作</th>-->
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="obj in salejfobj.list">
	        <td class="text-center">最高可用积分</td>
	        <!-- <td class="text-center" ng-show="obj.integral_type == 0">提现积分</td>
	        <td class="text-center" ng-show="obj.integral_type == 1">抵值积分</td> -->
	        <td class="text-center">
	          <input type="number" min="0" class="btn btn-block btn-default" placeholder="积分" ng-model="obj.integral_price" />
	        </td>
	        <!--<td class="text-center" ng-show="funobj.hasOwnProperty('integral')">
	          	<a 	ng-click="deljf(obj.id)" 
	          		class="btn btn-warning btn-xs">
	          		删除
	        	</a>
	        </td>-->
	      </tr>
	    </tbody>
  	</table>

</div>