<div class="container-fluid form-horizontal">

	<div class="col-xs-12 col-md-12 mt10">

		<div class="col-xs-12">
			<div class="col-xs-2 text-right">
				<br/>
				<br/>
				<font face="Courier" size="5">居游补贴</font>
				<br/>
				<br/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 col-xs-12 control-label">补贴金额</label>
			<div class="col-sm-4 col-xs-12">
				<p class="form-control-static">{{juyouobj.juyousubsidy_price}}</p>
			</div>
			<div class="col-sm-6 mt10">
				<font face="Courier" class="text-danger"></font>
			</div>
		</div>
	</div>

</div>