<div class="container-fluid form-horizontal">
	<div class="col-xs-12">
		

		<table class="table table-bordered mt10">
			<thead>
				<tr>

					<th class="col-md-3 text-center">景区名称</th>
					<th class="col-md-2 text-center">票种名称</th>
					<th class="col-md-1 text-center">票种属性</th>
					<th class="col-md-2 text-center">有效期开始</th>
					<th class="col-md-2 text-center">有效期结束</th>
					<th class="col-md-2 text-center">是否需要预约</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in page.saletickettypelist">
					<td class="text-center">{{obj.view_name}}</td>
					<td class="text-center">{{obj.name}}</td>
					<td class="text-center">{{obj.ticket_type_attr_name}}</td>
					<td class="text-center">
						{{obj.periodstart}}
					
					</td>
					<td class="text-center">
						{{obj.periodend}}
				
					</span>
						</div>
					</td>
					<td  class="text-center">
					 {{obj.appoint}}
					</td>
				
				</tr>
			</tbody>
		</table>

	</div>
</div>