<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="row">
                <div class="col-sm-11">
                    <div class="row">
                        &nbsp;
                        <input  type="text" 
                                class="form-control" 
                                ng-model="searchform.name"
                                placeholder="销售品名称" >
                        &nbsp;
                        <input  type="text" 
                                class="form-control"   
                                ng-model="searchform.place_code"
                                placeholder="景区编号" >
                        &nbsp;
                        <label>经销商</label>
                        <select class="form-control" ng-model="searchform.seller_code" 
                          ng-options="view.CODE as view.NAME for view in taarr"
                        >
                            <option value="">全选</option>
                        </select>
                        &nbsp;
                        <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
                    </div>
                    
                </div>
                <div class="col-sm-1 text-left">
                    <div class="row">
                        <button type="button" class="btn btn-info new" ng-click="create()">
                            创建销售品
                        </button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div><!-- searchArea -->


<div class="panel panel-danger" ng-repeat="tkttype in objs track by $index" >
  <!-- Default panel contents -->
  <div class="panel-heading">{{tkttype.viewname}} ({{tkttype.viewcode}})</div>

  <div class="panel-body">
    <uib-tabset >

      <uib-tab index="$index" ng-repeat="state in tkttype.state track by $index"
      heading="{{state.title}}" 
      >
        <div >
        <uib-tabset 
        >

        <uib-tab index="$index" ng-repeat="category in state.category  track by $index"
        heading="{{category.title}}" 
        
        >

        <table class="table table-bordered ">
          <thead>
            <tr>
              <th class="col-md-2 text-center">销售品名称</th>
              <th class="col-md-1 text-center">销售品编号</th>
              <th class="col-md-2 text-center">销售品分类</th>
              <th class="col-md-1 text-center">销售品状态</th>
              <th class="col-md-1 text-center">市场价</th>
              <th class="col-md-1 text-center">指导价</th>
              <th class="col-md-1 text-center">分销商成本</th>
              <th class="col-md-1 text-center">排序</th>
              <th class="col-md-2 text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="obj in category.salearr">
              <td class="">{{obj.name}}</td>
              <td class="text-center">{{obj.code}}</td>
              <td class="text-center">{{obj.sale_category_name}}</td>
              <td class="text-center">{{obj.state_name}}</td>
              <td class="text-center">{{obj.market_price * 0.01 | currency : '￥'}}</td>
              <td class="text-center">{{obj.guide_price * 0.01 | currency : '￥'}}</td>
              <td class="text-center">{{obj.cost_price * 0.01 | currency : '￥'}}</td>
              <td class="text-center">
                <input class="input-sm" 
                  style="height:22px; width:50px; border:1px solid;" 
                  type="text" 
                  value="{{obj.asort}}" 
                  ng-model="obj.asort">
                <a ng-click="asort(obj.id, obj.asort)" class="btn btn-info btn-xs">go</a> 
              </td>
              <td class="text-center">
                <a ng-show="obj.state=='1'" ng-click="stop(obj.id)" class="btn btn-primary btn-xs">下架</a>
                <a ng-show="obj.state=='0' || obj.state=='2'" ng-click="start(obj.id)" class="btn btn-danger btn-xs">上架</a>
                <a ng-click="edit(obj.id)" ng-show="obj.state=='0' || obj.state == '2'" class="btn btn-success btn-xs">编辑</a>
                <a ng-click="del(obj.id)" ng-show="obj.state=='0' || obj.state == '2'" class="btn btn-danger btn-xs">删除</a>
                <a ng-show="obj.used_state=='1'" ng-click="usedstart(obj.id)" class="btn btn-primary btn-xs">允许消票</a>
                <a ng-show="obj.used_state=='0'" ng-click="usedstop(obj.id)" class="btn btn-danger btn-xs">禁止消票</a>
                <a ng-click="info(obj.id)" ng-show="obj.state == '1'" class="btn btn-warning btn-xs">详情</a>
                <a ng-click="distribution(obj.code, obj.sale_target_type)" class="btn btn-default btn-xs"
                ng-show="obj.sale_target_type == 1"
                >分配经销商</a>
                <a ng-click="distribution(obj.code, obj.sale_target_type)" class="btn btn-default btn-xs"
                ng-show="obj.sale_target_type == 0"
                >分配不允许销售经销商</a>
                  
                <!-- <a uib-popover="{{obj.book_info}}" popover-title="预订需知" type="button" class="btn btn-default btn-xs" uib-popover="On the left">预订需知</a> -->
              </td>
            </tr>
          </tbody>
        </table>

        </uib-tab>
     
      
        </uib-tabset>
        </div>

      </uib-tab>
     
      
    </uib-tabset>
  </div>

  
  
</div>
  

</div>