<div class="col-xs-10 col-xs-offset-1" >
	<div class="panel panel-default form-horizontal">
		<div class="panel-heading">
			基本信息
			<button type="button" 
				class="btn btn-xs btn-info pull-right"
				ng-click="salego()"
			>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			</button>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				
				<div class="col-xs-10" >

					<div class="form-group">
						<label class="col-xs-2 control-label">销售品名称</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" placeholder="请输入销售品名称"
							ng-model="saleobj.name"
							>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label">销售品简介</label>
						<div class="col-xs-10">
							<textarea class="form-control" rows="3"
							ng-model="saleobj.detail"
							></textarea>
						</div>
					</div>

					<!-- <div class="form-group">
						<label class="col-xs-2 control-label">所属景区</label>
						<div class="col-xs-10">
							<select class="form-control" ng-model="saleobj.place_code" 
				              ng-options="view.code as view.name for view in viewarr"
				            >
				            </select>
						</div>
					</div> -->

					<div class="form-group">
						<label class="col-xs-2 control-label">市场价格</label>
						<div class="col-xs-10">
							<div class="input-group">
								<span class="input-group-addon">¥</span>
								<input type="number" class="form-control" placeholder="请输入市场价格" min='0'
								ng-model="saleobj.market_price"
								>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label">居游价格</label>
						<div class="col-xs-10">
							<div class="input-group">
								<span class="input-group-addon">¥</span>
								<input type="number" class="form-control" placeholder="请输入居游价格" min='0'
								ng-model="saleobj.guide_price"
								>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label">分销商成本价格</label>
						<div class="col-xs-10">
							<div class="input-group">
								<span class="input-group-addon">¥</span>
								<input type="number" class="form-control" placeholder="请输入分销商成本价格" min='0'
								ng-model="saleobj.cost_price"
								>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label">销售品分类</label>
						<div class="col-xs-10">
							<select class="form-control" ng-model="saleobj.sale_category" 
				              ng-options="type1.value as type1.label for type1 in typearr"
				            >
				            </select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label">短信模板编号</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" placeholder="请输入短信模板编号"
							ng-model="saleobj.sms_template_id"
							>
						</div>
					</div>

					<div class="form-group">
					    <label class="col-xs-2 control-label">短信发送类型</label>
					    <div class="col-xs-10">
					    	<label class="radio-inline">
							  <input type="radio" name="sms_type" value="0"
							  ng-model="saleobj.sms_type"
							  > 发送短信
							</label>
							<label class="radio-inline">
							  <input type="radio" name="sms_type" value="1"
							  ng-model="saleobj.sms_type"
							  > 不发短信
							</label>
					    </div>
				  	</div>

				  	<div class="form-group">
					    <label class="col-xs-2 control-label">系统确认</label>
					    <div class="col-xs-10">
					    	<label class="radio-inline">
							  <input type="radio" name="sys_affirm_type" value="0"
							  ng-model="saleobj.sys_affirm_type"
							  > 需要确认
							</label>
							<label class="radio-inline">
							  <input type="radio" name="sys_affirm_type" value="1"
							  ng-model="saleobj.sys_affirm_type"
							  > 无需确认
							</label>
					    </div>
				  	</div>

				  	<div class="form-group">
					    <label class="col-xs-2 control-label">支付类型</label>
					    <div class="col-xs-10">
					    	<label class="radio-inline">
							  <input type="radio" name="pay_type" value="0"
							  ng-model="saleobj.pay_type"
							  > 需要支付
							</label>
							<label class="radio-inline">
							  <input type="radio" name="pay_type" value="1"
							  ng-model="saleobj.pay_type"
							  > 无需支付
							</label>
					    </div>
				  	</div>

				  	<div class="form-group">
					    <label class="col-xs-2 control-label">库存类型</label>
					    <div class="col-xs-10">
					    	<label class="radio-inline">
							  <input type="radio" name="stock_type" value="0"
							  ng-model="saleobj.stock_type"
							  > 不启用
							</label>
							<label class="radio-inline">
							  <input type="radio" name="stock_type" value="1"
							  ng-model="saleobj.stock_type"
							  > 启用
							</label>
					    </div>
				  	</div>

				  	<div class="form-group">
					    <label class="col-xs-2 control-label">销售目标</label>
					    <div class="col-xs-10">
					    	<label class="radio-inline">
							  <input type="radio" name="sale_target_type" value="0"
							  ng-model="saleobj.sale_target_type"
							  > 公开销售
							</label>
							<label class="radio-inline">
							  <input type="radio" name="sale_target_type" value="1"
							  ng-model="saleobj.sale_target_type"
							  > 独立授权销售
							</label>
					    </div>
				  	</div>

				</div>
			</div>
		</div>
	</div>
</div>


<div class="col-xs-10 col-xs-offset-1" ng-show="saleobj.id">
	<div class="panel panel-default form-horizontal">
		<div class="panel-heading">
			详情信息
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<div class="col-xs-12" >

					<div class="form-group">
						<label class="col-xs-2 control-label">添加商品</label>
						<div class="col-xs-4">
							<select class="form-control" ng-model="goodsobj.place_code" ng-change="change(goodsobj.place_code)" 
				              ng-options="view.code as view.name for view in viewarr"
				            >
				            </select>
				        </div>
				        <div class="col-xs-4">
							<select class="form-control" ng-model="goodsobj.goods_code" 
				              ng-options="goods.code as goods.name for goods in goodsarr"
				            >
				            </select>
						</div>
						<div class="col-xs-2">
							<a ng-click="add()" class="btn btn-success btn-sm">添加</a>
						</div>
					</div>

					<table class="table table-bordered">
					    <thead>
					      <tr>
					        <th class="col-md-6 text-center">商品名称</th>
					        <th class="col-md-2 text-center">操作</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="obj in objs">
					        <td class="text-center">{{obj.goods_name}}</td>
					        <td class="text-center">
					          <a ng-click="del(obj.id)" class="btn btn-warning btn-xs">删除</a>
					        </td>
					      </tr>
					    </tbody>
				  	</table>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-10 col-xs-offset-1" >
	<div class="panel panel-default form-horizontal">
		<div class="panel-heading">
			半价信息
			<button type="button" 
				class="btn btn-xs btn-info pull-right"
				ng-click="salehalfgo()"
				ng-show="salehalfobjstate === 1"
			>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			</button>

			<button type="button" 
				class="btn btn-xs btn-success pull-right"
				ng-click="salehalfedit()"
				ng-show="salehalfobjstate === 0"
			>
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			</button>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<!-- 编辑状态 -->
				<div ng-show="salehalfobjstate === 1">
					<div class="col-xs-10" >
						<div class="form-group">
							<label class="col-xs-2 control-label">反补</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="请输入反补金额"
								ng-model="salehalfobj.subsidy"
								>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-2 control-label">立减</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="请输入立减金额"
								ng-model="salehalfobj.rebate"
								>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-2 control-label">最大购票数</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="请输入最大购票数"
								ng-model="salehalfobj.max_sell"
								>
							</div>
						</div>

					</div>			
				</div>


				<!-- 展示状态 -->
				<div ng-show="salehalfobjstate === 0">
					<div class="col-xs-10" >
						<div class="form-group">
							<label class="col-xs-2 control-label">反补</label>
							<div class="col-xs-10">
								<p class="form-control-static">{{salehalfobj.subsidy}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">立减</label>
							<div class="col-xs-10">
								<p class="form-control-static">{{salehalfobj.rebate}}</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-2 control-label">最大购票数</label>
							<div class="col-xs-10">
								<p class="form-control-static">{{salehalfobj.max_sell}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
