<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-10">
                <label>商客产品名称</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="searchform.name" >
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>景区编号</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="searchform.place_code" >
            </div>
            <div class="col-sm-2 text-right">
                <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->

<div class="panel panel-danger" ng-repeat="tkttype in objs track by $index" >
  <!-- Default panel contents -->
  <div class="panel-heading">{{tkttype.viewname}} ({{tkttype.viewcode}})</div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center col-md-4">商客产品名称</th>
        <th class="text-center col-md-2">商客产品编号</th>
        <th class="text-center col-md-1">市场价</th>
        <th class="text-center col-md-1">指导价</th>
        <th class="text-center col-md-1">成本价</th>
        <th class="text-center col-md-1">分销商成本价</th>
        <th class="text-center col-md-1">分销商状态</th>
        <th class="text-center col-md-1">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in tkttype.ticketarr">
        <td class="">{{obj.sale_name}}</td>
        <td class="text-center">{{obj.sale_code}}</td>
        <td class="text-center">{{obj.market_price * 0.01 | currency : '￥'}}</td>
        <td class="text-center">{{obj.guide_price * 0.01 | currency : '￥'}}</td>
        <td class="text-center">{{obj.cost_price * 0.01 | currency : '￥'}}</td>
        <td class="text-center">{{obj.company_cost_price * 0.01 | currency : '￥'}}</td>
        <td class="text-center">{{obj.company_price_statename}}</td>
        <td class="text-center">
        	<a ng-click="edit(obj)" class="btn btn-success btn-xs">设置分销价</a>
            <a ng-click="reward(obj)" class="btn btn-info btn-xs">政策奖励</a>
            <a ng-click="bind(obj.sale_code)" class="btn btn-default btn-xs">绑定中间商</a>

        </td>

      </tr>
    </tbody>
  </table>
  
</div>

  

</div>