<div class="col-xs-10 col-xs-offset-1 form-horizontal" >
	
	<div class="form-group">
		<label class="col-xs-2 control-label">票种名称</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" placeholder="请输入票种名称"
			ng-model="objt.name"
			>
		</div>
	</div>

<!-- 	<div class="form-group">
		<label class="col-xs-2 control-label">票种编号</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" placeholder="请输入票种编号"
			ng-model="objt.code"
			>
		</div>
	</div> -->

	<div class="form-group" ng-show="placeid === ''">
		<label class="col-xs-2 control-label">所属景区</label>
		<div class="col-xs-6">
			<select class="form-control" ng-model="objt.place_code" 
              ng-options="view.code as view.name for view in viewarr"
            >
            </select>
		</div>
	</div>

	<div class="form-group" ng-show="placeid !== ''">
		<label class="col-xs-2 control-label">所属景区</label>
		<div class="col-xs-6">
			<p class="form-control-static">{{objt.placename}} 
			<!-- <span ng-show="objt.placecode != null">[</span> -->
			[{{objt.placecode}}]
			<!-- <span ng-show="objt.placecode != null">]</span> -->
			</p>
		</div>
	</div>

	<div class="form-group">
	    <label class="col-sm-2 control-label">有效时间</label>
	    <div class="col-sm-10">

		    <p class="input-group col-sm-3 pull-left">
	          <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="objt.start_date" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>
	        <p class="form-control-static pull-left"> &nbsp;&nbsp;-&nbsp;&nbsp; </p>
	        <p class="input-group col-sm-3 pull-left">
	          <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="objt.end_date" is-open="section.end.opened" ng-required="true" close-text="Close" readonly/>
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open(section.end)"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>

	    </div>
	  </div>

	<div class="form-group">
		<label class="col-xs-2 control-label">允许消票</label>
		<div class="col-xs-6">
			<label class="radio-inline">
			  <input type="radio" name="used_state" value="0"
			  ng-model="objt.used_state"
			  > 允许
			</label>
			<label class="radio-inline">
			  <input type="radio" name="used_state" value="1"
			  ng-model="objt.used_state"
			  > 不允许
			</label>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-2 control-label">票种状态</label>
		<div class="col-xs-6">
			<label class="radio-inline">
			  <input type="radio" name="state" value="0"
			  ng-model="objt.state"
			  > 不可用
			</label>
			<label class="radio-inline">
			  <input type="radio" name="state" value="1"
			  ng-model="objt.state"
			  > 可用
			</label>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-2 control-label">预订说明</label>
		<div class="col-xs-6">
			<textarea class="form-control" rows="3"
			ng-model="objt.book_info"
			></textarea>
		</div>
	</div>


	<div class="form-group">
		<label class="col-xs-2 control-label">打印设置</label>
		<div class="col-xs-6">
			<table class="table table-bordered">
		      <thead>
		        <tr>
		          <th class="col-xs-2 text-center">#</th>
		          <th class="col-xs-8 text-center">名称</th>
		          <th class="col-xs-2 text-center">
		          	<a ng-click="printadd()" class="btn" style="color: green; padding:0px;">
				        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				    </a>
		          </th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat='obj in objs'>
		          <td class="text-center "><p class="pt5">{{$index + 1}}</p></td>
		          <td class="text-center">
		          	<input type="text" class="form-control" placeholder="请输入打印名称"
					ng-model="obj.name"
					>
		          </td>
		          <td class="text-center">
		          	<a ng-click="printdel($index)" class="btn" style="color: red; padding:0px; padding-top: 5px;">
				        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				    </a>
		          </td>
		        </tr>
		      </tbody>
		    </table>
		</div>
	</div>


	<button 
    type="button" 
    class="btn btn-primary btn-lg btn-block" 
    ng-click="gogo()"
    >
    提交
    </button>


</div>