<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">

              <input type="text" class="form-control" ng-model="searchform.company_code" placeholder="分销商编号">
              &nbsp;&nbsp;

              <!-- <input type="text" class="form-control" ng-model="searchform.view" placeholder="景区编号">
              &nbsp;&nbsp; -->

              <input type="text" class="form-control" ng-model="searchform.sale_name" placeholder="销售品名">
              &nbsp;&nbsp;


              <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" is-open="section.start.opened" ng-required="true" close-text="Close" ng-change="changestart()" readonly/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
                    &nbsp;&nbsp;到&nbsp;&nbsp;            
              <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.end.date" is-open="section.end.opened" ng-required="true" close-text="Close" ng-change="changeend()" readonly/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open(section.end)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
              &nbsp;&nbsp;

              <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->




<div class="panel panel-danger" ng-repeat="company in companys">
  <!-- Default panel contents -->
  <div class="panel-heading">{{company.company_name}}</div>

  <div class="panel-body">
    <div class="panel panel-info" ng-repeat="sale in company.salearr">
    <!-- Default panel contents -->
    <div class="panel-heading">{{sale.pricesarr[0].sale_name}}</div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-2 text-center">销售品编号</th>
          <th class="col-xs-3 text-center">销售品名称</th>
          <th class="col-xs-1 text-center">单价</th>
          <th class="col-xs-3 text-center">数量</th>
          <th class="col-xs-3 text-center">总价</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="price in sale.pricesarr">
          <td>{{price.sale_code}}</td>
          <td>{{price.sale_name}}</td>
          <td class="text-center">{{price.unit_price}}</td>
          <td class="text-center">
            购买：{{price.buy}}, 
            使用：{{price.used}}, 
            退票：{{price.back}}
          </td>
          <td class="text-center">
            购买：{{price.total_buy * 0.01 | currency : '￥'}}, 
            退票：{{price.total_back * 0.01 | currency : '￥'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <!-- Table -->
  <!-- <table class="table">
    <thead>
      <tr>
        <th>销售品编号</th>
        <th>销售品名称</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="sale in company.salearr">
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->
</div>








  <!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-1 text-center">时间</th>
        <th class="col-md-3 text-center">销售品名称</th>
        <th class="col-md-1 text-center">分销商</th>
        <th class="col-md-1 text-center">购买数量</th>
        <th class="col-md-1 text-center">使用数量</th>
        <th class="col-md-1 text-center">退票数量</th>
        <th class="col-md-1 text-center">单价</th>
        <th class="col-md-1 text-center">总计</th>
        <th class="col-md-1 text-center">详情</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.date}}</td>
        <td class="">{{obj.sale_name}}<br>销售品编号:{{obj.sale_code}}</td>
        <td class="text-center">{{obj.company_name}}<br>{{obj.company_code}}</td>
        <td class="text-center">{{obj.buy}}</td>
        <td class="text-center">{{obj.used}}</td>
        <td class="text-center">{{obj.back}}</td>
        <td class="text-center">{{obj.unit_price}}</td>
        <td class="text-center">{{(obj.total_buy - obj.total_back)  * 0.01 | currency : '￥'}}</td>
        <td class="text-center">
          <a ng-click="detail(obj)" ng-hide="obj.used == 0" class="btn btn-success btn-sm">使用详情</a>
        </td>
      </tr>
      <tr >
        <td class="text-center">总计</td>
        <td class="text-center"></td>
        <td class=""></td>
        <td class="text-center"></td>

        <td class="text-center">{{total.buy}}</td>
        <td class="text-center">{{total.used}}</td>
        <td class="text-center">{{total.back}}</td> 
        <td class="text-center"></td>
        <td class="text-center">{{total.total * 0.01 | currency : '￥'}}</td>
      </tr>
    </tbody>
  </table> -->


</div>