<div class="row">
	<div class="panel panel-default">
	    <div class="panel-body">
	        <div class="form-group form-inline">
	            <div class="col-sm-12">
					<input type="text" class="form-control" ng-model="searchform.ordername" placeholder="订单名称">
	              	&nbsp;&nbsp;&nbsp;&nbsp;
	              	<label>使用时间</label>&nbsp;&nbsp;
	              	<div class="input-group">
	              		<input 	type="text" class="form-control" 
	              				uib-datepicker-popup="yyyy-MM-dd" 
	              				ng-model="section.start.date" 
	              				is-open="section.start.opened" 
	              				ng-required="true" 
	              				close-text="Close" readonly/>
	                  	<span class="input-group-btn">
	                    	<button type="button" 
	                    			class="btn btn-default" 
	                    			ng-click="open(section.start)">
	                    		<i class="glyphicon glyphicon-calendar"></i>
	                    	</button>
	                  	</span>
	              	</div>
	                &nbsp;&nbsp;到&nbsp;&nbsp;            
	              	<div class="input-group">
		              	<input 	type="text" 
		              			class="form-control" 
		              			uib-datepicker-popup="yyyy-MM-dd" 
		              			ng-model="section.end.date" 
		              			is-open="section.end.opened" 
		              			ng-required="true" 
		              			close-text="Close" readonly/>
		                <span class="input-group-btn">
		                    <button type="button" 
		                    		class="btn btn-default" 
		                    		ng-click="open(section.end)">
		                    	<i class="glyphicon glyphicon-calendar"></i>
		                    </button>
		                </span>
		            </div>
	              	&nbsp;&nbsp;
	              	<button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
	            </div>
	        </div>
	    </div>
	</div>
	
	
	
	<table class="table table-bordered">
    <thead>
      	<tr>
	        <th class="col-md-1 text-center">姓名</th>
	        <th class="col-md-2 text-center">手机</th>
	        <th class="col-md-1 text-center">卡片数量</th>
	        <th class="col-md-2 text-center">申请时间</th>
	        <th class="col-md-2 text-center">支付时间</th>
	        <th class="col-md-1 text-center">订单名称</th>
	        <th class="col-md-2 text-center">订单编号</th>
	        <th class="col-md-1 text-center">实际交易金额</th>
      	</tr>
    </thead>
    <tbody>
      	<tr ng-repeat="obj in objs">
	        <td class="text-center">{{obj.username}}</td>
	        <td class="text-center">{{obj.mobile}}</td>
	        <td class="text-center">{{obj.cardamount}}</td>
	        <td class="text-center">{{obj.appdate}}</td>
	        <td class="text-center">{{obj.paytime}}</td>
	        <td class="text-center">{{obj.ordername}}</td>
	        <td class="text-center">{{obj.systradeno}}</td>
	        <td class="text-center">{{obj.fee}}</td>
      	</tr>
    </tbody>
  </table>
</div>
