<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">

              <input type="text" class="form-control" ng-model="searchform.place_name" placeholder="景区名称">
              &nbsp;&nbsp;&nbsp;&nbsp;

              <input type="text" class="form-control" ng-model="searchform.type_name" placeholder="票种名称">
              &nbsp;&nbsp;&nbsp;&nbsp;
              
                
              <label>使用时间</label>&nbsp;&nbsp;
              <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
                    &nbsp;&nbsp;到&nbsp;&nbsp;            
              <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.end.date" is-open="section.end.opened" ng-required="true" close-text="Close" readonly/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open(section.end)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
              &nbsp;&nbsp;

              <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
              
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-1 text-center">时间</th>
        <th class="col-md-1 text-center">景区名称</th>
        <th class="col-md-2 text-center">商品名称</th>
        <!-- <th class="col-md-1 text-center">商品编号</th> -->
        <!-- <th class="col-md-2 text-center">数量</th> -->
        <th class="col-md-1 text-center">购买数量</th>
        <th class="col-md-1 text-center">使用数量</th>
        <th class="col-md-1 text-center">退票数量</th>
        <th class="col-md-1 text-center">政府补贴</th>
        <th class="col-md-1 text-center">单价</th>
        <th class="col-md-1 text-center">居游结算价</th>
        <th class="col-md-1 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.date}}</td>
        <td class="text-center">{{obj.place_name}}</td>
        <td class="">{{obj.type_name}}<br>商品编号：{{obj.goods_code}}</td>
        <!-- <td class="text-center">{{obj.goods_code}}</td> -->
        <!-- <td class="text-center">
          购买：{{obj.buy}}&nbsp;&nbsp;
          使用：{{obj.used}}&nbsp;&nbsp;
          退票：{{obj.back}}
        </td> -->
        <td class="text-center">{{obj.buy}}</td>
        <td class="text-center">{{obj.used}}</td>
        <td class="text-center">{{obj.back}}</td>
        <td class="text-center">
            {{(subsidy | arrfilter:'goods_code':'govsubsidy_price':obj.goods_code) * 0.01 | currency : '￥'}}
        </td>
        <td class="text-center">{{obj.cost_price  * 0.01 | currency : '￥'}}</td>
        <td class="text-center">{{obj.cost_price * obj.used  * 0.01 | currency : '￥'}}</td>
        <td class="text-center">
        	<a ng-click="detail(obj.view, obj.goods_code)" ng-hide="obj.used == 0" class="btn btn-success btn-sm">使用详情</a>
        </td>
      </tr>

      <tr >
        <td class="text-center">总计</td>
        <td class="text-center"></td>
        <td class=""></td>
        <td class="text-center">{{total.buy}}</td>
        <td class="text-center">{{total.used}}</td>
        <td class="text-center">{{total.back}}</td>
        <td class="text-center">{{total.gov * 0.01 | currency : '￥'}}</td>
        <td class="text-center"></td>
        <td class="text-center">{{total.total * 0.01 | currency : '￥'}}</td>
        <td class="text-center"></td>
      </tr>


    </tbody>
  </table>


</div>