<form class="form-horizontal" role="form">
<h2>添加到卡池</h2>
  
<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">

              <label for="inputLottry" class="col-md-1 control-label">卡池编号</label>
              <input type="text" class="col-md-4 form-control" id="inputLottry" placeholder="卡池编号"
                   ng-model="cardinfo.pool_code">
              <label class="col-md-1 col-md-offset-1 radio-inline ">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2" ng-model="cardinfo.type">单张</label>
              <input type="text" class="col-md-2 form-control" id="inputLottry" placeholder="卡号"
                   ng-model="cardinfo.cardnum">
              <div>
              <label class="col-md-1 col-md-offset-1 radio-inline ">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" ng-model="cardinfo.type">卡段</label>
              </div>
              <input type="text" class="form-control" id="inputLottry" placeholder="起始卡号"
                   ng-model="cardinfo.startnum">
              <input type="text" class="form-control" id="inputLottry" placeholder="结束卡号"
                   ng-model="cardinfo.endnum">


                  
                  <button type="button" class="btn btn-default search pull-right" ng-click="addcard()">确定添加</button>


            </div>
        </div>
    </div>
</div><!-- searchArea -->


  

</form>