<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                  <input type="text" class="form-control" ng-model="searchform.title" placeholder="卡产品名称">
                  &nbsp;&nbsp;&nbsp;&nbsp;


                  <button type="button" class="btn btn-default search pull-right" ng-click="create()">创建卡产品</button>
                  <button type="button" class="btn btn-default search pull-right" ng-click="search()">立即搜索</button>


            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2 text-center">设备编号</th>
        <th class="col-md-2 text-center">设备名称</th>
        <th class="col-md-1 text-center">设备所属机构</th>
        <th class="col-md-1 text-center">设备绑定类型</th>
        <th class="col-md-2 text-center">绑定团名</th>
        <th class="col-md-1 text-center">绑定时间</th>
        <th class="col-md-2 text-center">备注</th>
        <th class="col-md-1 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.code}}</td>
        <td class="text-center">{{obj.name}}</td>
        <td class="text-center">{{obj.binding_company_name}}</td>
        <td class="text-center">{{obj.binding_type_name}}</td>
        <td class="text-center">{{obj.group_name}}</td>
        <td class="text-center">{{obj.binding_time}}</td>
        <td class="text-center">{{obj.remarks}}</td>
        <td class="text-center">
          <a ng-click="del(obj.id)" class="btn btn-danger btn-xs" ng-show="company_code == 'L0002'">删除</a>
          <a ng-click="edit(obj.id)" class="btn btn-info btn-xs">编辑</a>
        </td>
        </th>
      </tr>
    </tbody>
  </table>


<!--   <div class="text-right">

    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="load()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>

  </div> -->
  

</div>