<div class="col-xs-12">

  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <table class="table table-hover table-borderde col-xs-6 text-center">
      <tr>
        <td class="col-xs-1">姓名</td>
        <td class="col-xs-4">{{obj.username}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">电话</td>
        <td class="col-xs-4">{{obj.mobile}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">身份证</td>
        <td class="col-xs-4">{{obj.papersno}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">卡号</td>
        <td class="col-xs-4">{{obj.cardno}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">订单编码</td>
        <td class="col-xs-4">{{obj.code}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">创建时间</td>
        <td class="col-xs-4">{{obj.create_time}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">类型</td>
        <td class="col-xs-4">{{obj.order_type}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">销售人员信息</td>
        <td class="col-xs-4">{{obj.seller_code}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">区域</td>
        <td class="col-xs-4">{{obj.sys_area}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">用户ID</td>
        <td class="col-xs-4">{{obj.userid}}</td>
      </tr>
      <tr>
        <td class="col-xs-1">生产编号</td>
        <td class="col-xs-4">{{obj.product_code}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>