<div class="col-xs-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
              <div class="row">
              	  <input type="text" class="form-control" ng-model="searchform.name" placeholder="拿卡人姓名">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.mobile" placeholder="拿卡人电话">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.company_code" placeholder="拿卡人机构编码">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.start_card_no" 
                  placeholder="起始号段">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.end_card_no" placeholder="结算号段">
                  &nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="row mt10">
              		<label class="control-label">拿卡时间</label>&nbsp;&nbsp;
                  <div class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
                        &nbsp;&nbsp;到&nbsp;&nbsp;            
                  <div class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.end.date" is-open="section.end.opened" ng-required="true" close-text="Close" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open(section.end)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <label class="control-label">类型</label>&nbsp;&nbsp;
                  <select class="form-control" ng-model="searchform.type">
		            	<option label="查询全部" value=""></option>
		            	<option label="拿卡" value="1"></option>
		            	<option label="退卡" value="2"></option>
	              </select>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <label class="control-label">结算状态</label>&nbsp;&nbsp;
                  <select class="form-control" ng-model="searchform.settlement_status">
		            	<option label="查询全部" value=""></option>
		            	<option label="未结算" value="0"></option>
		            	<option label="已结算" value="1"></option>
	              </select>
                  &nbsp;&nbsp;
                  <button type="button" class="btn btn-default search pull-right" ng-click="load()">立即搜索</button>

              </div>   




                 


            </div>
        </div>
    </div>
</div><!-- searchArea -->

<div class="col-md-12 panel panel-default table-responsive">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
    	<th class="col-xs-1 text-center">类型</th>
    	<th class="col-xs-1 text-center">姓名</th>
    	<th class="col-xs-1 text-center">电话</th>
    	<th class="col-xs-1 text-center">所属机构</th>
    	<th class="col-xs-2 text-center">号段</th>
    	<th class="col-xs-1 text-center">单价</th>
    	<th class="col-xs-1 text-center">数量</th>
    	<th class="col-xs-1 text-center">总价</th>
    	<th class="col-xs-1 text-center">是否结算</th>
    	<th class="col-xs-1 text-center">操作时间</th>
    	<th class="col-xs-1 text-center">操作账号</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in objs">
    	<td class="text-center">{{obj.typename}}</td>
    	<td class="text-center">{{obj.name}}</td>
     	<td class="text-center">{{obj.mobile}}</td>
     	<td class="text-center">
     		{{obj.company_name}}<br>
     		{{obj.company_code}}
 		</td>
     	<td class="text-center">{{obj.start_card_no}}~{{obj.end_card_no}}</td>
        <td class="text-center">{{obj.unit_price | currency : '￥'}}</td>
     	<td class="text-center">{{obj.num}}</td>
     	<td class="text-center">{{obj.all_price | currency : '￥'}}</td>
     	<td class="text-center">{{obj.settlement_statusname}}</td>
     	<td class="text-center">{{obj.create_time}}</td>
     	<td class="text-center">{{obj.create_by}}</td>
    </tr>

    <tr >
        <td class="text-center">总计</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center">{{total.num}}</td>
        <td class="text-center">{{total.total | currency : '￥'}}</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
    
  </tbody>
</table>
</div>


</div>