

<div class="modal-header">
    <h4 class="modal-title">订单详情</h4>
</div>
<div class="modal-body">

    <div class="container-fluid form-horizontal ">
        <div class="col-xs-6">
        <div class="form-group">
            <label class="col-xs-6 control-label">订单编号</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.code}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">产品编号</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.product_code}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">支付类型</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.pay_statusname}}</p>
            </div>
        </div>

        <div ng-show = "obj.pay_status == 0">
	        <div class="form-group">
	            <label class="col-xs-6 control-label">支付金额</label>
	            <div class="col-xs-6">
	                <p class="form-control-static">{{obj.pay_fee/100}}</p>
	            </div>
	        </div>

	        <div class="form-group">
	            <label class="col-xs-6 control-label">支付状态</label>
	            <div class="col-xs-6">
	                <p class="form-control-static">{{obj.pay_statename}}</p>
	            </div>
	        </div>

	        <div class="form-group">
	            <label class="col-xs-6 control-label">支付时间</label>
	            <div class="col-xs-6">
	                <p class="form-control-static">{{obj.pay_time}}</p>
	            </div>
	        </div>

	        <div class="form-group">
	            <label class="col-xs-6 control-label">支付流水号</label>
	            <div class="col-xs-6">
	                <p class="form-control-static">{{obj.pay_no}}</p>
	            </div>
	        </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">订单取消状态</label>
            <div class="col-xs-6">
                <p ng-show="obj.cannel_status==0" class="form-control-static">未取消</p>
                <p ng-show="obj.cannel_status==1" class="form-control-static">已取消</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">订单取消时间</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.cancel_time}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">订单取消原因</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.cancel_reason}}</p>
            </div>
        </div>
</div>
        <div class="col-xs-6">

        <div class="form-group">
            <label class="col-xs-6 control-label">订单类型</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.order_typename}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">分销商</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.seller_code}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">姓名</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.username}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">电话</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.mobile}}</p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-xs-6 control-label">身份证</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.papersno}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">绑定卡号</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.cardno}}</p>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-6 control-label">下单时间</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.create_time}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">用户id</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.userid}}</p>
            </div>
        </div>

        
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>

