
<form class="form-horizontal" role="form">
 <h2 class="text-center">记录发卡信息</h2>
 <div class="col-md-10 col-md-offset-1">
 <div class="panel panel-default">
 <div class="panel-body">
 <div class="form-group">

 <div class="form-group">
 <label for="inputDate" class="col-md-4 control-label">类型：</label>
 <div class="col-xs-8">
 <label class="radio-inline ">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" ng-model="userinfo.type">拿卡
        </label>
 <label class="radio-inline ">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2" ng-model="userinfo.type">退卡
        </label>
 </div>
 </div>
 <div class="form-group">
   <label for="inputDate" class="col-md-4 control-label">拿/退卡人姓名：</label>
   <div class="col-md-6">
   <select class="form-control" ng-model="searchinfo"  ng-options = "obj as obj.name for obj in objs" ng-change="selection(searchinfo)">
 	<option value="">全部</option>
   </select>
   </div>    
 </div>

 <div class="form-group">
  <label for="inputDate" class="col-sm-4 control-label">电话：</label>
  <div class="col-md-6">
  <input type="text" class="form-control" id="inputpoolname" placeholder="* * *"
      ng-model="userinfo.mobile"
      >
  </div>    
 </div>

 <div class="form-group">
 <label for="inputDate" class="col-sm-4 control-label">机构编码：</label>
 <div class="col-md-6">
 <input type="text" class="form-control" id="inputpoolname" placeholder="* * *"
      ng-model="userinfo.company_code"
      >
 </div>    
 </div>

 <div class="form-group">
 <label for="inputDate" class="col-sm-4 control-label">号段：</label>
 <div class="col-md-3">
 <input type="text" class="form-control" id="inputpoolname" placeholder="起始卡号"
      ng-model="userinfo.start_card_no">
 </div>
 <div class="col-md-3">
 <input type="text" class="form-control" id="inputpoolname" placeholder="结束卡号"
      ng-model="userinfo.end_card_no">
 </div>
 </div>

 

 



 <div class="form-group">
 <label for="inputDate" class="col-sm-4 control-label">拿卡数量：</label>
 <div class="col-md-6">
 <p type="text" class="form-control" id="inputpoolname" 
      ng-model="userinfo.num">
       {{userinfo.end_card_no - userinfo.start_card_no + 1}} </p>
      
 </div>    
 </div>

 <div class="form-group">
 <label for="inputDate" class="col-sm-4 control-label">单价：</label>
 <div class="col-md-6">
 <input type="text" class="form-control" id="inputpoolname"
      ng-model="userinfo.unit_price"
      >
 </div>    
 </div>

 <div class="form-group">
 <label for="inputDate" class="col-sm-4 control-label">总金额：</label>
 <div class="col-md-6">
 <p type="text" class="form-control" id="inputpoolname" 
      ng-model="userinfo.all_price">
      {{(userinfo.end_card_no - userinfo.start_card_no + 1) * userinfo.unit_price}} </p>
 </div>
 </div>
 
 <div class="form-group">
 <label for="inputDate" class="col-sm-4 control-label">发放目标：</label>
 <div class="col-md-6">
 <input type="text" class="form-control" id="inputpoolname" placeholder="* * *"
      ng-model="userinfo.card_giveout_target"
      >
 </div>    
 </div>

 <div class="form-group">
  <label for="inputDate" class="col-sm-4 control-label">备注：</label>
  <div class="col-sm-6">
  <textarea class="form-control col-sm-2" cols="30" rows="3" ng-model="userinfo.remarks"></textarea>
  </div>
 </div>

 <div>
  <button type="button" class="col-md-1 col-md-offset-6 btn btn-primary btn-xs" ng-click="saveuserinfo()">保存</button>
 </div>

</div>
</div>
</div>
</div>
 


</form>