<div class="col-xs-12" >
<div class="panel panel-default">
<div class="panel-heading text-center">释放卡</div>
<div class="panel-body">
    <div class="form-group form-inline">
		<label class="col-md-0 radio-inline ">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2" ng-model="cardinfo.status">单张</label>&nbsp;&nbsp;
		<input type="text" class="form-control" placeholder="卡号"
			ng-model="cardinfo.cardnum" style="width:200px">
		
		<label class="col-md-offset-1 radio-inline ">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="3" ng-model="cardinfo.status">卡段</label>&nbsp;&nbsp;
        <input type="text" class="form-control" placeholder="起始卡号"
			ng-model="cardinfo.startnum" style="width:200px">
		
		&nbsp;&nbsp;<label class="col-md-0">到</label>&nbsp;&nbsp;
		
			<input type="text" class="form-control" placeholder="结束卡号"
			ng-model="cardinfo.endnum" style="width:200px">
		
		<label class="col-md-offset-1 radio-inline ">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" ng-model="cardinfo.status">全部</label>
		
        <button type="button" class="btn btn-info search pull-right" ng-click="resivecard()" style="width:100px">释放卡<button>        
    </div>
</div>
</div>
</div>
</div>


<div class="col-md-5">
     <table ng-click="getlist()" class="table table-bordered">
	    <thead>
	      <tr>
	      <th class="col-md-1 text-center">操作</th>
	        <th class="col-md-2 text-center">起始卡号</th>
	        <th class="col-md-2 text-center">结束卡号</th>
	        
	      </tr>
	    </thead>
	    <tbody>
	     <tr ng-repeat = "cardinfo in releasecardinfo">
	       <td class="col-md-1 text-center"> 
           <input type="checkbox" ng-model=cardinfo.value ng-true-value="1"ng-false-value="0" ng-click="checkcardinfo()">
           </td>
	       <td class="col-md-2 text-center">{{cardinfo.mincard}}</td>
	       <td class="col-md-2 text-center">{{cardinfo.maxcard}}</td>
	     </tr>
	    </tbody>
	 </table>
</div><!-- 可用卡 -->



