<form class="form-horizontal" role="form">
<h2>释放卡</h2>
<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
              
              <label class="col-md-1 radio-inline ">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2" ng-model="cardinfo.status">单张</label>
              <input type="text" class="col-md-1 form-control" id="inputLottry" placeholder="卡号"
                   ng-model="cardinfo.cardnum">
              
              <label class="col-md-1 col-md-offset-1 radio-inline ">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" ng-model="cardinfo.status">号段</label>
              <input type="text" class="col-md-2 form-control" id="inputLottry" placeholder="起始卡号"
                   ng-model="cardinfo.startnum">
                   <input type="text" class="col-md-2 form-control" id="inputLottry" placeholder="结束卡号"
                   ng-model="cardinfo.endnum">

              <label class="col-md-1 col-md-offset-1 radio-inline ">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="3" ng-model="cardinfo.status">全部</label>
              
              
              
                  
                  <button type="button" class="btn btn-default search pull-right" ng-click="resivecard()">释放</button>


            </div>
        </div>
    </div>
</div><!-- searchArea -->


</form>