<form class="form-horizontal" role="form"> 
<h2>修改卡状态</h2>
<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                <label>卡号</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="cardinfo.cardno" >
                &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-default search pull-right" ng-click="queryuser()">查询</button>


            </div>
        </div>
    </div>
</div><!-- 根据卡号查询用户信息 -->

   <div class="col-md-12 panel panel-default table-responsive">
     <table ng-click="getlist()" class="table table-bordered">
	    <thead>
	      <tr>
	        <th class="col-md-2 text-center">姓名</th>
	        <th class="col-md-2 text-center">电话</th>
	        <th class="col-md-2 text-center">身份证</th>
	        <th class="col-md-2 text-center">卡状态</th>
	        <th class="col-md-4 text-center">操作</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<tr>
	        <td class="col-md-2 text-center">{{userinfo.username}}</td>
	        <td class="col-md-2 text-center">{{userinfo.mobile}}</td>
	        <td class="col-md-2 text-center">{{userinfo.papersno}}</td>
	        <td class="col-md-2 text-center">{{userinfo.card_status_z}}</td>
	        <td class="col-md-4 text-center">
	        	<a ng-show="userinfo.card_status_z=='未发放'" ng-click="used()" class="btn btn-primary btn-xs">置为已用</a>
	        	<a ng-show="userinfo.card_status_z=='已发放' " ng-click="lost()" class="btn btn-danger btn-xs">挂失</a>
	        	
	        	
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</div>	    
    </div>

 </form>