<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                  <label>姓名</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="takecarduserinfo.name" placeholder="姓名">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <label>所属旅行社</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="takecarduserinfo.travelagency" placeholder="所属旅行社">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <label>手机号</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="takecarduserinfo.mobile" placeholder="手机号">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <label>备注</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="takecarduserinfo.remarks" placeholder="备注">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  
                  <button type="button" class="btn btn-primary search pull-right" ng-click="save()">保存</button>


            </div>
        </div>
    </div>
</div><!-- searchArea -->

<div class="col-md-12 panel panel-default table-responsive">
<table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2 text-center">姓名</th>
        <th class="col-md-2 text-center">所属旅行社</th>
        <th class="col-md-3 text-center">手机号</th>
        <th class="col-md-3 text-center">备注</th>
        <th class="col-md-2 text-center">操作</th>

        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.name}}</td>
        <td class="text-center">{{obj.travelagency}}</td>
        <td class="text-center">{{obj.mobile}}</td>
        <td class="text-center">{{obj.remarks}}</td>
        <td class="col-md-4 text-center">
	        	<a ng-click="delete(obj.id)" class="btn btn-danger btn-xs">删除</a>
	        	<a ng-click="change(obj.id,obj.name, obj.travelagency,obj.mobile,obj.remarks)" class="btn btn-info btn-xs">修改</a>
	    </td>
      </tr>
    </tbody>
  </table>
</div>

 <div class="text-right">

    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="takecarduserlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>

  </div>
</div>