

<div class="container-fluid form-horizontal">

<style type="text/css">
	
	.mr10{margin-right: 10px;}
</style>


	<div class="col-xs-12 col-md-12 mt10" >

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">标签</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" placeholder="标签之间以逗号分隔开" 
				ng-model="storeobj.merchant_label"
				>
			</div>
		</div>


		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">类型</label>
			<div class="col-sm-9 col-xs-12">
				<select class="form-control" ng-model="storeobj.view_type" ng-change="selection(data.code)" ng-options="data.code as data.label for data in typedatas">
					<option value="">请选择</option>
				</select>
			</div>
		</div>

        <div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">频道(行业)</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="storeobj.merchant_channel"
				>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">电话</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="storeobj.tel"
				>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">商铺活动</label>
			<div class="col-sm-9 col-xs-12">
				<textarea class="form-control" rows="3"
				ng-model="storeobj.merchant_shop_activity"
				></textarea>
			</div>
		</div>


		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">活动简介</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="storeobj.merchant_activity_profile"
				>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">标签</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="storeobj.merchant_label_marking"
				>
			</div>
		</div>
        
        <div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">付款方式</label>
			<div class="col-sm-9 col-xs-12">
				<!--<label class="checkbox-inline">
				<input type="checkbox" ng-model="strobj.checkstr1" ng-true-value="2"ng-false-value="" ng-click="checkcardinfo()">到店付
				</label>
				<label class="checkbox-inline">
				  <input type="checkbox" ng-model="strobj.checkstr2" ng-true-value="1"ng-false-value="" ng-click="checkcardinfo()">即时付
				</label>-->
				<input type="text" class="form-control" 
				ng-model="storeobj.merchant_pay_method"
				placeholder="付款方式之间以逗号分隔开">
			</div>
		</div>


		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">人均消费</label>
			<div class="col-sm-9 col-xs-12">
				<div class="input-group">
					<span class="input-group-addon">¥</span>
					<input type="number" class="form-control" 
					ng-model="storeobj.merchant_per_average_consume"
					min="0">
				</div>
			</div>
		</div>

		<!--<div class="form-group">
			<label class="col-xs-2  control-label">宜买说</label>
			<div class="col-xs-9">
				<div text-angular ng-model="storeobj.merchant_say"></div>
			</div>
		</div> -->
		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">宜买说</label>
			<div class="col-sm-9 col-xs-12">
				<textarea name="" id="" cols="30" rows="3" class="form-control" 
				ng-model="storeobj.merchant_say"></textarea>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">备注</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="storeobj.merchant_remarks"
				>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">排序</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="storeobj.merchant_asort"
				>
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 col-xs-12 control-label"></label>
			<div class="col-sm-9 col-xs-12">
				<button type="button" class="btn btn-primary btn-lg btn-block"
				ng-click="save()"
				>保存</button>
			</div>
		</div>


	</div>

</div>