

<div class="container-fluid form-horizontal">

<style type="text/css">
	
	.mr10{margin-right: 10px;}
</style>


	<div class="col-xs-12 col-md-12 mt10" >

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">电话</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" placeholder="请输入名称" 
				ng-model="viewobj.tel"
				>
			</div>
		</div>


		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">产品分类</label>
			<div class="col-sm-9 col-xs-12">
				<select class="form-control" ng-model="viewobj.view_type" ng-change="selection(viewobj.view_type)">
					<option value="">请选择</option>
					<option value="1">景区</option>
					<option value="2">美食</option>
				<option value="3">体检</option>
				<option value="4">健康</option>
				<option value="5">汽车</option>
				<option value="6">美发</option>
				<option value="7">保险</option>
				<option value="8">亲子</option>
				<option value="9">休闲</option>
				<option value="10">摄影</option>
				</select>
			</div>
		</div>


		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">服务承诺</label>
			<div class="col-sm-9 col-xs-12">
				<textarea class="form-control" rows="3"
				ng-model="viewobj.promise"
				></textarea>
			</div>
		</div>


		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">好评</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="viewobj.ev_good"
				>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">一般评价</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="viewobj.ev_general"
				>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">差评</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="viewobj.ev_bad"
				>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">全景地址</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="viewobj.view720_url"
				>
			</div>
		</div>

		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">电子杂志</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="viewobj.ebook_url"
				>
			</div>
		</div>


		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">优惠政策</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="viewobj.fav_policy"
				>
			</div>
		</div>


		<div class="form-group" >
			<label class="col-sm-3 col-xs-12 control-label">提前时间(小时）</label>
			<div class="col-sm-9 col-xs-12">
				<input type="text" class="form-control" 
				ng-model="viewobj.bef_hour"
				>
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-3 col-xs-12 control-label"></label>
			<div class="col-sm-9 col-xs-12">
				<button type="button" class="btn btn-primary btn-lg btn-block"
				ng-click="save()"
				>保存</button>
			</div>
		</div>


	</div>

</div>