<form class="form-horizontal" role="form">
 
 <div class="col-md-8 col-md-offset-2">
 <div class="panel panel-info">
 <div class="panel-heading text-center">添加分类</div>
 <div class="panel-body">
              <div class="form-group">
                <label class="col-lg-3 control-label">分类名称:</label>
                <div class="col-lg-5">
                  <input type="text" class="form-control" placeholder="必填" ng-model="obj.title">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">上级分类:</label>
                <div class="col-lg-5">
                  <ui-select ng-model="obj.pid" theme="bootstrap" ng-change="change(obj.pid)">
                    <ui-select-match placeholder="选择上级分类..">{{$select.selected.title}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in pid_list | filter: $select.search">
                      <span ng-bind-html="item.title | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                  
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">类型:</label>
                <div class="col-lg-5">
                  <ui-select ng-model="obj.type" theme="bootstrap" ng-change="change(obj.type)">
                    <ui-select-match placeholder="选择类型..">{{$select.selected.title}}</ui-select-match>
                    <ui-select-choices repeat="item.key as item in dicc_list | filter: $select.search">
                      <span ng-bind-html="item.title | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">排序:</label>
                <div class="col-lg-5">
                  <input type="text" class="form-control" placeholder="必填" ng-model="obj.sort">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">附加信息:</label>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">logo:</label>
                  <div class="col-md-5">
                    <img ng-src="{{infoobj.logo}}" width="100%" height="200" ng-model="infoobj.logo">
                      <input type="file" nv-file-select uploader="uploader" / ng-hide="hide===true" ><br/>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in uploader.queue">
                          文件名: <span ng-bind="item.file.name"></span>
                          <button type="button" class="btn btn-default btn-xs"  ng-click="item.upload()"><span class="glyphicon glyphicon-upload"></span> 上传</button>
                          <div class="progress mt10">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                          </div>
                        </li>
                      </ul>
                </div>
              </div>
            

            <div class="form-group">
                <label class="col-lg-4 control-label"></label>            
              <button class="btn btn-primary btn-rounded" ng-click="save()">添加</button>
              <button class="btn btn-default btn-rounded" ng-click="cancel()">取消</button>
            </div>
          </div>
          </div>
</form>


