

<!-- <div class=" col-md-4 ">
<div class="panel panel-default">
	<div class="panel-heading text-center "><h4>测试数据</h4></div>

	<div class="panel-body">
		
		90010091000 不存在 <br>
		90010091001  设备停用<br>
		90010091002  设备启用 未启用权限<br>
		90010091003  设备启用  开启权限  权限中无票种<br>
		90010091004   设备启用  开启权限  权限包含票种<br>
		90010091005   铁岭莲花湿地
		<hr>

		210302198308022412<br>
		<hr>
		90067214<br>


	</div>
</div>
</div> -->


<div class=" col-md-8 col-md-offset-2">
<div class="panel panel-default">
	<div class="panel-heading text-center "><h4>智慧景区验票系统</h4></div>

	<div class="panel-body">
		<form class="form-horizontal">
		<div class="form-group mt10">
		    
		    <!-- <div class="col-sm-9">
		      <input type="text" class="form-control" ng-model="device" placeholder="输入设备码" ng-readonly="true">
		    </div> -->

		    <div class="col-sm-6">
			    <select class="form-control" ng-model="obj" 
	              		ng-options="obj.code as obj.name for obj in objs"
	              		ng-change="tktmachine(obj)"
	            >
	            </select>
            </div>
		    <div class="col-sm-6">
			    <select class="form-control" ng-model="device" 
	              ng-options="device.code as device.remarks for device in devicearr"
	            >
	            </select>
            </div>

		  </div>

		  <div class="form-group">
		    
		    <div class="col-sm-9">
		      <input type="text" class="form-control" ng-model="code" placeholder="输入票码">
		    </div>

		    <div class="col-sm-3">
		    	<button type="button" 
		    	class="btn btn-default btn-block"
		    	ng-click="check()">确定</button>
		    </div>
		  </div>
		  
		</form>
	</div>
</div>
</div>
