<div class=" col-md-8 col-md-offset-2">
<div class="panel panel-default">
	<div class="panel-heading text-center "><h4>测试接口</h4></div>

	<div class="panel-body">
		<form class="form-horizontal">
		
		  <div class="form-group">
		    
		    <div class="col-sm-9">
		      <input type="text" class="form-control" ng-model="obj.url" placeholder="接口地址">
		    </div>

		    <div class="col-sm-9 mt10">
		      <textarea class="form-control" ng-model="obj.para" rows="6"></textarea>
		    </div>

		    <div class="col-sm-9">
		      <input type="text" class="form-control" ng-model="obj.url" placeholder="接口地址">
		    </div>

		    <div class="col-sm-3">
		    	<button type="button" 
		    	class="btn btn-default btn-block"
		    	ng-click="check()">确定</button>
		    </div>
		  </div>
		  
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading text-center "><h4>测试excel导入</h4></div>
	<input type="file" ng-model="a"/>
	<button class="btn btn-primary" type="button" ng-click="import()">导入</button>
	
</div>
</div>