
<form class="form-horizontal" role="form">
 
 <div class="col-md-10 col-md-offset-1">
 <div class="panel panel-default">
 <div class="panel-heading text-center">添加广告</div>
 <div class="panel-body">
 <div class="form-group">


 <div class="form-group">
  <label for="inputDate" class="col-sm-4 control-label">广告商标题：</label>
  <div class="col-md-6">
  <input type="text" class="form-control" id="inputpoolname" placeholder=""
      ng-model="info.advertiser">
  </div>    
 </div>

 <div class="form-group">
 <label for="inputDate" class="col-sm-4 control-label">广告商logo：</label>
 <div class="col-md-3">
      <img ng-src="{{info.logo}}" width="100%" height="200" ng-model="info.logo">
        <input type="file" nv-file-select uploader="uploader" / ng-hide="hide===true" ><br/>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in uploader.queue">
            文件名: <span ng-bind="item.file.name"></span>
            <button type="button" class="btn btn-default btn-xs"  ng-click="item.upload()"><span class="glyphicon glyphicon-upload"></span> 上传</button>
            <div class="progress mt10">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </li>
        </ul>
 </div>
 </div>

 <div class="form-group">
  <label for="inputDate" class="col-sm-4 control-label">广告标题：</label>
  <div class="col-md-6">
  <input type="text" class="form-control" id="inputpoolname" placeholder=""
      ng-model="info.title">
  </div>    
 </div>

 <div class="form-group">
 <label for="inputDate" class="col-sm-4 control-label">标头图片：</label>
 <div class="col-md-6">
      <img ng-src="{{info.head_photo}}" width="100%" height="200" ng-model="info.head_photo">
        <input type="file" nv-file-select uploader="uploader1" / ng-hide="hide===true" ><br/>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in uploader1.queue">
            文件名: <span ng-bind="item.file.name"></span>
            <button type="button" class="btn btn-default btn-xs"  ng-click="item.upload()"><span class="glyphicon glyphicon-upload"></span> 上传</button>
            <div class="progress mt10">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader1.progress + '%' }"></div>
            </div>
          </li>
   	      <font face="Courier" class="text-danger">注:上传图片尺寸为750 * 1334</font>         
        </ul>
 </div>
 </div>
 <div class="form-group">
   <label for="inputDate" class="col-md-4 control-label">广告类型：</label>
   <div class="col-md-6">
   <select class="form-control" ng-model="info.ad_type" ng-change="selection(info.ad_type)">
   <option value="">请选择</option>
   <option value="1">图片</option>
   <option value="2">视频</option>
    <option value="3">文字</option>
   </select>
   </div>  
 </div>




 <div class="form-group" ng-show="info.ad_type==1">
 <label for="inputDate" class="col-sm-4 control-label">广告图片：</label>
 <div class="col-md-2">
      <img ng-src="{{form.picture1}}" width="100%" height="200" ng-model="form.picture1">
        <input type="file" nv-file-select uploader="uploader2" / ng-hide="hide===true" ><br/>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in uploader2.queue">
            文件名: <span ng-bind="item.file.name"></span>
            <button type="button" class="btn btn-default btn-xs"  ng-click="item.upload()"><span class="glyphicon glyphicon-upload"></span> 上传</button>
            <div class="progress mt10">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader2.progress + '%' }"></div>
            </div>
          </li>
        </ul>
 </div>
 <div class="col-md-2">
      <img ng-src="{{form.picture2}}" width="100%" height="200" ng-model="form.picture2">
        <input type="file" nv-file-select uploader="uploader3" / ng-hide="hide===true" ><br/>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in uploader3.queue">
            文件名: <span ng-bind="item.file.name"></span>
            <button type="button" class="btn btn-default btn-xs"  ng-click="item.upload()"><span class="glyphicon glyphicon-upload"></span> 上传</button>
            <div class="progress mt10">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader3.progress + '%' }"></div>
            </div>
          </li>
        </ul>
 </div>
 <div class="col-md-2">
      <img ng-src="{{form.picture3}}" width="100%" height="200" ng-model="form.picture3">
        <input type="file" nv-file-select uploader="uploader4" / ng-hide="hide===true" ><br/>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in uploader4.queue">
            文件名: <span ng-bind="item.file.name"></span>
            <button type="button" class="btn btn-default btn-xs"  ng-click="item.upload()"><span class="glyphicon glyphicon-upload"></span> 上传</button>
            <div class="progress mt10">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader4.progress + '%' }"></div>
            </div>
          </li>
        </ul>
 </div>
 </div>

<div class="form-group" ng-show="info.ad_type==1">
  <label for="inputDate" class="col-sm-4 control-label"></label>
  <div class="col-md-6">
   	  <font face="Courier" class="text-danger">注:上传图片尺寸为710 * 320</font>                   
  </div>    
 </div>
 

 <div class="form-group" ng-show="info.ad_type==3">
  <label for="inputDate" class="col-sm-4 control-label">广告内容：</label>
  <div class="col-md-6">
    <div text-angular ng-model="info.content"></div>
  </div>    
 </div>

 <div class="form-group" ng-show="info.ad_type==2">
  <label for="inputDate" class="col-sm-4 control-label">广告内容：</label>
  <div class="col-md-6">
    <input type="text" class="form-control" ng-model="info.content">
  </div>    
 </div>


 


 <div class="form-group">
   <label for="inputDate" class="col-md-4 control-label">积分类型：</label>
   <div class="col-md-6">
   <select class="form-control" ng-model="info.integral_type" ng-change="selection(info.integral_type)">
   <option value="">请选择</option>
   <option value="1">抵现积分</option>
   <option value="2">提现积分</option>
   </select>
   </div>    
 </div>


 <div class="form-group">
  <label for="inputDate" class="col-sm-4 control-label">积分数量：</label>
  <div class="col-md-6">
  <input type="text" class="form-control" id="inputpoolname" placeholder=""
      ng-model="info.max_integral">
  </div>    
 </div>

 <div class="form-group">
  <label for="inputDate" class="col-sm-4 control-label">最大参与人数：</label>
  <div class="col-md-6">
  <input type="text" class="form-control" id="inputpoolname" placeholder=""
      ng-model="info.max_people">
  </div>    
 </div>

 

 

 <div class="form-group">
  <label for="inputDate" class="col-sm-4 control-label">创建人：</label>
  <div class="col-md-6">
  <input type="text" class="form-control" id="inputpoolname" placeholder=""
      ng-model="info.creat_by">
  </div>    
 </div>

 <div class="form-group">
   <label for="inputDate" class="col-md-4 control-label">排序：</label>
   <div class="col-md-6">
   <input type="number" class="form-control" id="inputpoolname" placeholder=""
      ng-model="info.sort">
   </div>    
 </div>


 <!-- </p >
    <script id="editor1" name="content" type="text/plain" style="width:100%;height:500px;"></script>     
  <p>
 -->


 <div>
  <button type="button" class="col-md-1 col-md-offset-6 btn btn-primary" ng-click="save()">保存</button>
 </div>

</div>
</div>

</div>
 


</form>