<div class="col-xs-6 col-xs-offset-3" >
<div class="panel panel-default">
	<div class="panel-heading text-center">添加商品</div>
<div class="panel-body">
<div class="container-fluid form-horizontal ">
	<div class="col-xs-12 form-horizontal" >
	    <div class="form-group">
		<label class="col-xs-3 control-label">商品类型:</label>
		<div class="col-xs-7">
			<input type="text" class="form-control" 
			ng-model="info.label"
			>
		</div>
		<button type="button" class="btn btn-info" ng-click="addtype()">确定<button>
		</div>
	</div>
</div>
</div>
</div>
</div>