<div class="col-xs-6 col-xs-offset-3" >
<div class="panel panel-default">
	<div class="panel-heading text-center">添加热搜名词</div>
<div class="panel-body">
<div class="container-fluid form-horizontal ">
	<div class="col-xs-12 form-horizontal" >
	    <div class="form-group">
			<label class="col-xs-3 control-label">热搜类型</label>
			<div class="col-md-6">
                <select class="form-control" ng-model="info.active_type" ng-change="selection(info.active_type)">
                    <option value="">请选择</option>
                    <option value="0">宜买宜卖</option>
                    <option value="1">义买义卖</option>
                    <option value="2">积分商城</option>
                </select>
            </div>    
		</div>

        <div class="form-group">
			<label class="col-xs-3 control-label">热搜名词</label>
			<div class="col-md-6">
                <input type="text" class="form-control" id="inputpoolname" placeholder=""
      ng-model="info.activity_proposer_name">
            </div>    
			
		</div>

        <button type="button" class="btn btn-info col-xs-offset-5" ng-click="add()">确定<button>

		
	</div>
</div>
</div>
</div>
</div>