<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12 row">
                  <input type="text" class="form-control" ng-model="searchform.name" placeholder="一级商客账号" style="width:250px">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="form-group pull-right">
                      <button type="button" class="btn btn-success" ng-click="create()">提交</button>
                      
                  </div>
            </div>
        </div>
    </div>
</div><!-- searchArea -->