<div class="col-xs-6 col-xs-offset-3" >
<div class="panel panel-default">
<div class="panel-heading text-center">一级商客权限管理</div>
<div class="panel-body">
<div class="container-fluid form-horizontal ">
    <div class="panel panel-default">
    <div class="panel-body">
    <div class="col-sm-12" style="height: 40px">
        <div class="form-group form-inline ">
            <input type="text" class="form-control" ng-model="searchinfo.bind_company_code" placeholder="一级商客账号">
            <button type="button" class="btn btn-primary pull-right" ng-click="saveauthority()">添加</button>
        </div>
    </div>
    </div>
    </div><!-- searchArea -->

    <div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-6">账号</th>  
        <th class="col-md-6">操作</th> 
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs track by $index">
        <td class="text-center">{{obj}}</td>
        <td class="text-center">
          <a ng-click="delete(obj)" class="btn btn-danger">删除</a>
          <!--<span class="glyphicon glyphicon-remove" aria-hidden=""></span>-->
        </td>
      </tr>

    </tbody>
    </table>
    </div>

    <!-- <div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="search()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
    </div> 
 -->

        
  

</div>
</div>
</div>
</div>
</div>





