<div class="col-xs-6 col-xs-offset-3" >
<div class="panel panel-default">
	<div class="panel-heading text-center">杀价帮</div>
<div class="panel-body">
<div class="container-fluid form-horizontal ">
	<div class="col-xs-12 form-horizontal" >
	    <div class="form-group">
	    	<button type="button" class="btn btn-info" ng-click="seelist()" style="width:100%;">活动列表<button>
	    </div>		
		<div class="form-group">
	    	<button type="button" class="btn btn-info" ng-click="seeuser()" style="width:100%;">参与用户<button>
	    </div>
		<div class="form-group">
	    	<button type="button" class="btn btn-info" ng-click="seewinuser()" style="width:100%;">中奖用户<button>
	    </div>
</div>
</div>
</div>
</div>