<div class="col-xs-6 col-xs-offset-3" >
<div class="panel panel-default">
	<div class="panel-heading text-center">易买易卖</div>
<div class="panel-body">
<div class="container-fluid form-horizontal ">
	<div class="col-xs-12 form-horizontal" >
	    <div class="form-group">
	    	<button type="button" class="btn btn-info" ng-click="changeapplylist()" style="width:100%;">易卖申请列表<button>
	    </div>		
		<div class="form-group">
	    	<button type="button" class="btn btn-info" ng-click="addgoods()" style="width:100%;">商品列表<button>
	    </div>
		<div class="form-group">
	    	<button type="button" class="btn btn-info" ng-click="addgoodtype()" style="width:100%;">添加商品类别<button>
	    </div>
</div>
</div>
</div>
</div>