<div class="col-sm-12">
<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-1 text-center">捐助人姓名</th>
        <th class="col-md-2 text-center">捐助人身份证号码</th>
        <th class="col-md-1 text-center">捐助人手机号</th>
        <th class="col-md-1 text-center">物品标题</th>
        <th class="col-md-1 text-center">物品数量</th>
        <th class="col-md-2 text-center">物品详情</th>
        <th class="col-md-1 text-center">审核状态</th>
        <th class="col-md-1 text-center">捐赠状态</th>
        <th class="col-md-2 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
         <td class="text-center">{{obj.ronation_user_name}}</td>
        <td class="text-center">{{obj.ronation_user_card}}</td>
        <td class="text-center">{{obj.ronation_user_mobile}}</td>
        <td class="text-center">{{obj.ronation_goods_title}}</td>
        <td class="text-center">{{obj.ronation_goods_number}}</td>
        <td class="text-center">{{obj.ronation_goods_info}}</td>
        <td class="text-center">{{obj.ronation_state}}</td>
        <td class="text-center">{{obj.ronation_time}}</td>
        <td class="text-center">
          <a ng-show="obj.ronation_state == 0" ng-click="agree(obj.love_record_id)" class="btn btn-danger btn-xs">通过</a>
          <a ng-show="obj.ronation_state == 0" ng-click="disagree(obj.love_record_id)" class="btn btn-info btn-xs">不通过</a>
        </td>
      </tr>
    </tbody>
    </table>
</div>

<div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="getlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
</div>
</div>