<div class="col-sm-12">
<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2 text-center">操作人姓名</th>
        <th class="col-md-2 text-center">操作人手机</th>
        <th class="col-md-2 text-center">活动编号</th>
        <th class="col-md-2 text-center">支出物品数量</th>
        <th class="col-md-2 text-center">备注</th>
        <th class="col-md-2 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.insert_user_name}}</td>
        <td class="text-center">{{obj.insert_user_mobile}}</td>
        <td class="text-center">{{obj.activity_id}}</td>
        <td class="text-center">{{objobjects_num}}</td>
        <td class="text-center">{{obj.sremark}remark}</td>
        <td class="text-center">
          <a ng-show="" ng-click="agree(obj.id)" class="btn btn-danger btn-xs">通过</a>
          <a ng-show="" ng-click="agree(obj.id)" class="btn btn-danger btn-xs">不通过</a>
          <a ng-show="" ng-click="agree(obj.id)" class="btn btn-danger btn-xs">已上架</a>
        </td>
      </tr>
    </tbody>
    </table>
</div>

<div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="getlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
</div>
</div>