<div class="col-sm-12">
  <div class="col-md-12 panel panel-default table-responsive">
      <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-2 text-center">用户姓名</th>
          <th class="col-md-2 text-center">用户身份证号</th>
          <th class="col-md-2 text-center">用户电话</th>
          <th class="col-md-2 text-center">备注</th>
          <th class="col-md-2 text-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="obj in objs">
          <td class="text-center">{{obj.user_name}}</td>
          <td class="text-center">{{obj.user_idcard}}</td>
          <td class="text-center">{{obj.user_mobile}}</td>
          <td class="text-center">{{obj.remark}}</td>
          <td class="text-center">
            <a ng-show="obj.state == 0" ng-click="agree(obj.id)" class="btn btn-info btn-xs">同意</a>
            <a ng-show="obj.state == 0" ng-click="disagree(obj.id)" class="btn btn-info btn-xs">不同意</a>
            <a ng-show="obj.state == 1" ng-click="creatactivity(obj.id)" class="btn btn-info btn-xs">发布活动</a>
            <a ng-show="obj.state == 2" class="btn btn-info btn-xs"></a>
          </td>
        </tr>
      </tbody>
      </table>
  </div>

<div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="getlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
</div>
</div>