<form class="form-horizontal" role="form">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading text-center">字典</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="form-group">
							<label for="inputDate" class="col-sm-4 control-label">键值</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="inputpoolname" placeholder=""
									ng-model="saveinfo.title_identifier"
								>
							</div>    
						</div>

						<div class="form-group">
							<label for="inputDate" class="col-sm-4 control-label">标签</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="inputpoolname" placeholder=""
									ng-model="saveinfo.title"
								>
							</div>
						</div>

						<div class="form-group">
							<label for="inputDate" class="col-sm-4 control-label">类型</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="inputpoolname" placeholder=""
									ng-model="saveinfo.title"
								>
							</div>
						</div>

						<div class="form-group">
							<label for="inputDate" class="col-sm-4 control-label">描述</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="inputpoolname" placeholder=""
									ng-model="saveinfo.title"
								>
							</div>
						</div>

						<div class="form-group">
							<label for="inputDate" class="col-sm-4 control-label">排序</label>
							<div class="col-md-6">
								<input type="text" class="form-control" id="inputpoolname" placeholder=""
									ng-model="saveinfo.title"
								>
							</div>
						</div>

						<div class="form-group">
							<label for="inputDate" class="col-sm-4 control-label">图片</label>
							<div class="col-md-6">
						        <img ng-src="{{info.photo}}" width="50%" height="150" ng-model="info.photo">
							        <input type="file" nv-file-select uploader="uploader" / ng-hide="hide===true" ><br/>
							        <ul class="list-group">
							          <li class="list-group-item" ng-repeat="item in uploader.queue">
							            文件名: <span ng-bind="item.file.name"></span>
							            <button type="button" class="btn btn-default btn-xs"  ng-click="item.upload()"><span class="glyphicon glyphicon-upload"></span> 上传</button>
							            <div class="progress mt10">
							              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
							            </div>
							          </li>
							        </ul>
						    </div>
					    </div>
						<div class="form-group">
							<label for="inputDate" class="col-sm-4 control-label">备注</label>
							<div class="col-sm-6">
								<textarea class="form-control col-sm-2" cols="15" rows="5" ng-model="saveinfo.explain_content"></textarea>
							</div>
						</div>

					<button ng-show="title_identifier == undefined" type="button" class="col-md-2 col-md-offset-6 btn btn-primary" ng-click="saveinstruction()">保存</button>
				</div>
			</div>
		</div>
	</div>
</form>