<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                <div class="row">
                  <!-- <input type="text" class="form-control" ng-model="addinfo.activity_id" placeholder="活动编号">
                  &nbsp;&nbsp;&nbsp;&nbsp; -->
                  <input type="text" class="form-control" ng-model="addinfo.ronation_user_name" placeholder="捐献人姓名">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="addinfo.ronation_user_card" placeholder="捐助人身份证号码">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="addinfo.ronation_user_mobile" placeholder="捐助人手机号">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="addinfo.ronation_goods_title" placeholder="物品标题">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="row mt10">
                  <input type="text" class="form-control" ng-model="addinfo.ronation_goods_number" placeholder="物品数量">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="addinfo.ronation_goods_info" placeholder="物品详情">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="addinfo.ronation_goods_befor_price" placeholder="物品原价">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="addinfo.ronation_goods_price" placeholder="物品现价">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="addinfo.ronation_rmb" placeholder="物品金额">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary search pull-right" ng-click="save()">补录</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- searchArea -->
<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-1 text-center">捐助人姓名</th>
        <th class="col-md-2 text-center">捐助人身份证号码</th>
        <th class="col-md-1 text-center">捐助人手机号</th>
        <th class="col-md-1 text-center">物品标题</th>
        <th class="col-md-1 text-center">物品数量</th>
        <th class="col-md-2 text-center">物品详情</th>
        <th class="col-md-1 text-center">审核状态</th>
        <th class="col-md-1 text-center">捐赠时间</th>
        <th class="col-md-2 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.ronation_user_name}}</td>
        <td class="text-center">{{obj.ronation_user_card}}</td>
        <td class="text-center">{{obj.ronation_user_mobile}}</td>
        <td class="text-center">{{obj.ronation_goods_title}}</td>
        <td class="text-center">{{obj.ronation_goods_number}}</td>
        <td class="text-center">{{obj.ronation_goods_info}}</td>
        <td class="text-center">{{obj.ronation_state_name}}</td>
        <td class="text-center">{{obj.ronation_time}}</td>
        <td class="text-center">
          <a ng-show="obj.ronation_state == 0" ng-click="agree(obj.love_record_id)" class="btn btn-danger btn-xs">通过</a>
          <a ng-show="obj.ronation_state == 0" ng-click="disagree(obj.love_record_id)" class="btn btn-info btn-xs">不通过</a>
        </td>
      </tr>
    </tbody>
    </table>
</div>

<div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="getlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
</div>
</div>