<form class="form-horizontal" role="form">

  
<div class="col-md-12">
<div class="panel panel-default">
    
        
            <div class="col-md-12 text_center">
              <label for="inputLottry" class="col-md-9 control-label">{{obj.text + obj.link + loginuser.company_code}}</label>
            </div>
            <div class="col-sm-12 text_center">
              <label for="inputLottry" class="col-md-9 control-label">{{obj.shengchan + obj.sclink + loginuser.company_code}}</label>
            </div>
    
</div><!-- searchArea -->


  

</form>