<div class="col-sm-12">
<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2 text-center">商品名称</th>
        <th class="col-md-1 text-center">新旧程度</th>
        <th class="col-md-1 text-center">区域</th>
        <th class="col-md-2 text-center">原价</th>
        <th class="col-md-2 text-center">现价</th>
        <th class="col-md-1 text-center">备注</th>
        <th class="col-md-1 text-center">状态</th>
        <th class="col-md-2 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.goods_title}}</td>
        <td class="text-center">{{obj.goods_new_degree}}</td>
        <td class="text-center">{{obj.trade_area}}</td>
        <td class="text-center">{{obj.goods_price_before}}</td>
        <td class="text-center">{{obj.goods_price}}</td>
        <td class="text-center">{{obj.remark}}</td>
        <td class="text-center">
          <span ng-show="obj.foryoustate==0">已添加</span>
          <span ng-show="obj.foryoustate==1">已取消</span>
          <span ng-show="obj.foryoustate!=0 && obj.foryoustate!=1">未添加</span>
        </td>
        
        <td class="text-center">
          <a ng-show="obj.foryoustate!=0" ng-click="add(obj.goods_id)" class="btn btn-info btn-xs">添加到为你推荐</a>
          <a ng-show="obj.foryoustate==0" ng-click="console(obj.id)" class="btn btn-success btn-xs">取消</a>
        </td>
      </tr>
    </tbody>
    </table>
</div>

<div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="getlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
</div>
</div>