<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                  <!--<input type="text" class="form-control" ng-model="info.value" placeholder="热搜名词">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <select class="form-control" ng-model="info.type" ng-change="selection(info.type)">
                    <option value="">请选择</option>
                    <option value="1">义买义卖</option>
                    <option value="3">积分商城</option>  
                    <option value="4">宜买宜卖</option>
                    </select>-->
                  <div class="form-group pull-right">
                      <button type="button" class="btn btn-primary" ng-click="add()">添加热搜</button>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                  </div>


            </div>
        </div>
    </div>
</div>

<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-4 text-center">热搜名词</th>
        <th class="col-md-4 text-center">热搜类型</th>
        <th class="col-md-4 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.value}}</td>
        <td class="text-center">
            <p ng-show="obj.type==1">义买义易</p>
            <p ng-show="obj.type==3">积分商城</p>
            <p ng-show="obj.type==4">宜买宜卖</p>
        </td>
        
        <td class="text-center">
          <a ng-click="edit(obj.id)" class="btn btn-info btn-xs">修改</a>
          <a ng-click="delete(obj.id)" class="btn btn-info btn-xs">删除</a>
        </td>
      </tr>
    </tbody>
    </table>
</div>

<div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="getlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
</div>
</div>