<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                  <label for="inputLottry" class="control-label">说明列表</label>
                  <button type="button" class="btn btn-primary search pull-right" ng-click="addinstruction()">添加说明</button>
                  <input type="text" class="form-control" ng-model="somepara.title_identifier" placeholder="标识">&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="somepara.title" placeholder="标题">&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary" ng-click="search()">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-4 text-center">说明标识</th>
        <th class="col-md-4 text-center">说明标题</th>
        <!-- <th class="col-md-3 text-center">说明内容</th> -->
        <th class="col-md-4 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.title_identifier}}</td>
        <td class="text-center">{{obj.title}}</td>
        <!-- <td class="col-md-3 text-center">{{obj.explain_content}}</td> -->
        <td class="text-center">
          <a ng-click="change(obj.id)" class="btn btn-info btn-xs">修改</a>
          <a ng-click="delete(obj.id)" class="btn btn-info btn-xs">删除</a>
          <a ng-click="detail(obj.id,obj.title_identifier)" class="btn btn-info btn-xs">查看详情</a>
        </td>
      </tr>
    </tbody>
    </table>
</div>

<div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="getlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
</div>
</div>