<div class="col-sm-12">
<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2 text-center">活动标题</th>
        <th class="col-md-2 text-center">活动编号</th>        
        <th class="col-md-2 text-center">创建活动的管理员编号</th>
        <th class="col-md-2 text-center">活动详情</th>
        <th class="col-md-2 text-center">活动类型</th>
        <th class="col-md-2 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.activity_titlle}}</td>
        <td class="text-center">{{obj.love_activity_id}}</td>
        <td class="text-center">{{obj.admin_id}}</td>
        <td class="text-center">{{obj.activity_info}}</td>
        <td class="text-center">{{obj.active_type_name}}</td>
        <td class="text-center">
          <a ng-click="charitylist(obj.love_activity_id)" class="btn btn-info btn-xs">义卖</a>
          <a ng-click="donatelist(obj.love_activity_id)" class="btn btn-info btn-xs">捐物</a>
          <a ng-click="expandlist(obj.love_activity_id)" class="btn btn-info btn-xs">支出列表</a>
          <a ng-show="obj.state == 2" class="btn btn-info btn-xs"></a>
        </td>
      </tr>
    </tbody>
    </table>
</div>

<div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="getlist()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
</div>
</div>