<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                  
                  <label for="inputLottry" class="control-label">奖品设置</label>
                  <div class="form-group pull-right">
                      <button type="button" class="btn btn-primary" ng-click="add()">添加奖品</button>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                  </div>


            </div>
        </div>
    </div>
</div><!-- searchArea -->

<div class="col-md-12 panel panel-default table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3 text-center">奖品名称</th>
        <th class="col-md-3 text-center">奖品原价</th>
        <th class="col-md-3 text-center">砍价目标</th>
        <th class="col-md-3 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.title}}</td>
        <td class="text-center">{{obj.oldPrice}}</td>
        <td class="text-center">{{obj.targetPrice}}</td>
        <td class="text-center">
          <a ng-click="edit(obj.prizeId)" class="btn btn-info btn-xs">编辑</a>
          <a ng-click="delete(obj.prizeId)" class="btn btn-info btn-xs">删除</a>
        </td>
      </tr>
    </tbody>
    </table>
</div>

    <div class="text-right">
    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="search()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>
    </div> 
