<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">
                  
                  <input type="text" class="form-control" ng-model="searchform.name" placeholder="姓名">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.mobile" placeholder="手机号">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.idcard" placeholder="身份证号">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <select class="form-control" ng-model="searchform.state">
                    <option value="">全部</option>
                    <option value="0">未处理</option>
                    <option value="2">未通过</option>
                    <option value="1">已通过</option>
                  </select>
                  <select class="form-control" ng-model="searchform.sms_state">
                    <option value="">全部</option>
                    <option value="0">未发送</option>
                    <option value="1">已发送</option>
                    
                  </select>
                  <button type="button" class="btn btn-primary search pull-right" ng-click="searchuser(searchform.startcard, searchform.endcard, searchform.cardmakestatus, searchform.cardbatch, searchform.cardgivetatus)">立即搜索</button>


            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-1 text-center">姓名</th>
        <th class="col-md-1 text-center">手机号</th>
        <th class="col-md-2 text-center">身份证号</th>
        <th class="col-md-1 text-center">账号</th>
        <th class="col-md-1 text-center">区域</th>
        <th class="col-md-2 text-center">行业(供货产品,产品提供价)</th>
        <th class="col-md-1 text-center">申请时间</th>
        <th class="col-md-1 text-center">状态</th>
        <th class="col-md-1 text-center">短信状态</th>
        <!--<th class="col-md-1 text-center">图片</th>        -->
        <th class="col-md-1 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="text-center">{{obj.name}}</td>
        <td class="text-center">{{obj.mobile}}</td>
        <td class="text-center">{{obj.idcard}}</td>
        <td class="text-center">{{obj.ticket_id}}</td>
        <td class="text-center">{{obj.area}}
          <br>{{obj.supply_product}}{{obj.product_offer_price}}
        </td>
        <td class="text-center">{{obj.trade}}</td>
        <td class="text-center">{{obj.ins_time}}</td>
        <td class="text-center">{{obj.state_name}}</td>
        <td class="text-center">{{obj.sms_state}}</td>
        <!--<td class="text-center">
           <a ng-click="seepicture(obj.pimg)" class="btn btn-info btn-xs">查看图片</a>            
        </td>      -->
        <td class="text-center">
           <a ng-click="seepicture(obj.pimg)" class="btn btn-info btn-xs">查看图片</a>            
          
           <a ng-show="obj.state_name=='未处理'&&obj.sms_state == '未发送'" ng-click="pass(obj.id,obj.ticket_id)" class="btn btn-danger btn-xs">通过</a>
           <a ng-show="obj.state_name=='未处理'&&obj.sms_state == '未发送'" ng-click="refuse(obj.id)" class="btn btn-danger btn-xs">拒绝</a>
           <a ng-show="obj.state_name=='已通过' && obj.sms_state =='未发送'&& obj.ticket_id==undefined" ng-click="creataccount(obj.id,loginuser.company_id,loginuser.company_code,loginuser.office_id)" class="btn btn-success btn-xs">创建账号</a>

           <a ng-show="obj.state_name=='已通过' && obj.ticket_id && obj.ticket_id === obj.ticket_company_code" ng-click="assignauthority(obj.id,loginuser.company_id,loginuser.company_code,loginuser.office_id)" class="btn btn-success btn-xs">分配权限</a>

           
           <a ng-show="obj.state_name=='已通过' && obj.sms_state == '已发送'" ng-click="sendmessage(obj.id,loginuser.company_id,loginuser.company_code,loginuser.office_id)" class="btn btn-info btn-xs">发送短信</a>

        </td>

      </tr>
    </tbody>
  </table>


<!--   <div class="text-right">

    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="load()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>

  </div> -->
  

</div>