<div class="modal-body">
<div class="container-fluid form-horizontal ">
<div class="col-xs-12">
    <div class="form-group">
        <label class="col-xs-2 control-label">备注</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="inputpoolname" placeholder="** ** ** ** ** ** **" ng-model="confirminfo.remarks">
        </div>
    </div>
</div>
</div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>