<div class="col-sm-12">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-sm-12">

                <div class="row ">

                  <input type="text" class="form-control" ng-model="searchform.code" placeholder="订单编号">
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <input type="text" class="form-control" ng-model="searchform.title" placeholder="订单标题" 
                  >
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <input type="text" class="form-control" ng-model="searchform.business_code"  placeholder="商家编号">
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <input type="text" class="form-control" ng-model="searchform.verification_code" placeholder="验证码" >
                  &nbsp;&nbsp;&nbsp;&nbsp;

                </div>

                <div class="row mt10">

                  <label>下单时间</label>&nbsp;&nbsp;
                  <div class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.start.date" is-open="section.start.opened" ng-required="true" close-text="Close" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open(section.start)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
                        &nbsp;&nbsp;到&nbsp;&nbsp;            
                  <div class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="section.end.date" is-open="section.end.opened" ng-required="true" close-text="Close" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open(section.end)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <label class="control-label">支付状态：</label>
                  <select class="form-control" ng-model="searchform.pay_state">
                    <option label="未支付" value="0"></option>
                    <option label="已支付" value="1"></option>
                    <option label="查询全部" value=""></option>
                  </select>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <button type="button btn" class="btn btn-default search pull-right" ng-click="load()">立即搜索</button>

                </div>


                
                
            </div>
        </div>
    </div>
</div><!-- searchArea -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3 text-center">订单名称</th>
        <th class="col-md-1 text-center">订单编号</th>
        <th class="col-md-2 text-center">商家信息</th>
        <th class="col-md-1 text-center">验证码</th>
        <th class="col-md-2 text-center">下单时间</th>
        <th class="col-md-1 text-center">支付状态</th>
        <th class="col-md-1 text-center">支付金额</th>
        <th class="col-md-1 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in objs">
        <td class="">{{obj.title}}</td>
        <td class="text-center">{{obj.code}}</td>
        <td class="text-center">{{obj.business_code}}<br>{{obj.business_name}}</td>
        <td class="text-center">{{obj.verification_code}}</td>
        <td class="text-center">{{obj.create_time}}</td>
        <td class="text-center">{{obj.statename}}</td>
        <td class="text-center">{{obj.pay_price  * 0.01 | currency : '￥'}}</td>
        <th class="text-center">
          <a ng-click="usedorderinfo(obj)" class="btn btn-info btn-xs">订单详情</a>
        </th>
      </tr>
      <tr >
        <td class=""><b>居游结算价：</b></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center">{{total.total * 0.01 | currency : '￥'}}</td>
        <td class="text-center"></td>
      </tr>
    </tbody>
  </table>


  <!--<div class="text-right">

    <uib-pagination 
      total-items="bigTotalItems" 
      ng-model="bigCurrentPage" 
      max-size="maxSize" 
      class="pagination-sm" 
      boundary-links="true" 
      ng-change="load()"
      items-per-page="itemsPerPage"
      previous-text="上一页"
      next-text="下一页"
      first-text="首页"
      last-text="末页"
      rotate="false">
    </uib-pagination>

  </div> -->
  

</div>