

<div class="modal-header">
    <h4 class="modal-title">订单详情</h4>
</div>
<div class="modal-body">

    <div class="container-fluid form-horizontal ">
        <div class="col-xs-6">
        <div class="form-group">
            <label class="col-xs-6 control-label">订单编号</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.code}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">订单标题</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.title}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">支付金额</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.pay_price  * 0.01 | currency : '￥'}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">订单状态</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.statename}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">支付时间</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.pay_time}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">支付流水号</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.pay_no}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">订单取消状态</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.cancel_statename}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">订单取消时间</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.cancel_time}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">购买数量</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.num}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">使用数量</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.used}}</p>
            </div>
        </div>
        </div>

        <div class="col-xs-6">

        <div class="form-group">
            <label class="col-xs-6 control-label">一元券编号</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.sale_code}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">一元券单价</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.voucher_price * 0.01 | currency : '￥'}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">定值商品价格</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.guide_price * 0.01 | currency : '￥'}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">一元券类别</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.voucher_typename}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">一元券优惠</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.voucher_discount}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">一元券描述</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.voucher_describe}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">电话</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.mobile}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">下单时间</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.create_time}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">用户id</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.create_by}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-6 control-label">有效期</label>
            <div class="col-xs-6">
                <p class="form-control-static">{{obj.period}}</p>
            </div>
        </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">返回</button>
</div>

