<div class="col-md-2">
	<div class="list-group">
		<a class="list-group-item return" ui-sref="" ng-click="return()">返回</a>
	</div>
	<div class="list-group main">
	  <a class="list-group-item tab" ui-sref=".selfcount({view:'0099'})">自驾<br>统计</a>
	  <a class="list-group-item tab mt10" ui-sref=".teamcount({view_code:'0099'})">团队<br>统计</a>
	  <a class="list-group-item tab mt10" ui-sref=".teamreserve({view_code:'0099'})">团队<br>预定</a>
	  <a class="list-group-item tab mt10" ui-sref=".againprint()">重新<br>打印</a>
	</div>
	
</div>

<div class="col-md-10">
<h1 class="text-center">XXX测试智慧景区检票系统</h1>
	<div data-ui-view="">
		<h2 class="text-center">欢迎使用票机订单功能</h2>
	</div>
</div>